<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="pattern.art.presentation.ArtPatternModelWizardID"
            name="%_UI_ArtPatternModelWizard_label"
            class="pattern.art.presentation.ArtModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ArtPatternModelFile.gif">
         <description>%_UI_ArtPatternModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="pattern.art.presentation.ArtPatternEditorID"
            name="%_UI_ArtPatternEditor_label"
            icon="icons/full/obj16/ArtPatternModelFile.gif"
            extensions="artP"
            class="pattern.art.presentation.ArtEditor"
            contributorClass="pattern.art.presentation.ArtActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="pattern.art.instance.presentation.InstanceEditorID"
            name="%_UI_InstanceEditor_label"
            icon="icons/full/obj16/InstanceModelFile.gif"
            extensions="instance"
            class="pattern.art.instance.presentation.InstanceEditor"
            contributorClass="pattern.art.instance.presentation.InstanceActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="pattern.art.type.presentation.TypeEditorID"
            name="%_UI_TypeEditor_label"
            icon="icons/full/obj16/TypeModelFile.gif"
            extensions="type"
            class="pattern.art.type.presentation.TypeEditor"
            contributorClass="pattern.art.type.presentation.TypeActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="pattern.art.implem.presentation.ImplemEditorID"
            name="%_UI_ImplemEditor_label"
            icon="icons/full/obj16/ImplemModelFile.gif"
            extensions="implem"
            class="pattern.art.implem.presentation.ImplemEditor"
            contributorClass="pattern.art.implem.presentation.ImplemActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="pattern.art.group.presentation.GroupEditorID"
            name="%_UI_GroupEditor_label"
            icon="icons/full/obj16/GroupModelFile.gif"
            extensions="group"
            class="pattern.art.group.presentation.GroupEditor"
            contributorClass="pattern.art.group.presentation.GroupActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="patternframework.presentation.PatternframeworkEditorID"
            name="%_UI_PatternframeworkEditor_label"
            icon="icons/full/obj16/PatternframeworkModelFile.gif"
            extensions="patternframework"
            class="patternframework.presentation.PatternframeworkEditor"
            contributorClass="patternframework.presentation.PatternframeworkActionBarContributor">
      </editor>
   </extension>

</plugin>
