<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!-- $Id: $ -->
<!-- License    : EPL                                    -->
<!-- Project    : org.kermeta.language.archetype.art2BundleUIContrib -->
<!-- Copyright  : IRISA / INRIA / Universite de Rennes 1 --> 
<!-- Authors : username <usermail@irisa.fr> --> 

<plugin>
</plugin>
