<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.ui.editors">
      <editor
            class="fr.irisa.triskell.kermeta.graphicaleditor.editor.KmEditor"
            icon="icons/Km.png"
            default="true"
            name="%editor.name.0"
            id="fr.irisa.triskell.kermeta.graphicaleditor.editor.KmEditor"
            contributorClass="fr.irisa.triskell.kermeta.graphicaleditor.actions.KmEditorActionBarContributor"
            extensions="kmdi">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.newWizards">
      <wizard
            icon="icons/Km.png"
			category="fr.irisa.triskell.kermeta.KermetaWizard"
            class="fr.irisa.triskell.kermeta.graphicaleditor.wizards.NewKmDiagrams"
            name="%wizard.name.0"
            id="fr.irisa.triskell.kermeta.graphicaleditor.wizards.NewKmDiagrams">
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.topcased.modeler.perspective">
         <newWizardShortcut id="fr.irisa.triskell.kermeta.graphicaleditor.wizards.NewKmDiagrams"/>
      </perspectiveExtension>
   </extension>
	<extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="kermetaPerspective">
         <newWizardShortcut id="fr.irisa.triskell.kermeta.graphicaleditor.wizards.NewKmDiagrams"/>
      </perspectiveExtension>
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="org.topcased.modeler.preferences.ModelerPreferencePage"
            class="fr.irisa.triskell.kermeta.graphicaleditor.preferences.KmPreferencePage"
            id="fr.irisa.triskell.kermeta.graphicaleditor.preferences.KmPreferencePage"
            name="%page.name.0"/>
   </extension>
   
   <extension point="org.topcased.modeler.templates">
      <template
            di="templates/cd/%name%.kmdi"
            model="templates/cd/%name%.km"
            name="Km - Kermeta class diagram"
            id="fr.irisa.triskell.kermeta.graphicaleditor.templates.cd"
            editorId="fr.irisa.triskell.kermeta.graphicaleditor.editor.KmEditor"/>
   </extension>
   
   <extension point="org.topcased.modeler.diagrams">
      <diagram
            configuration="fr.irisa.triskell.kermeta.graphicaleditor.cd.KmConfiguration"
            id="fr.irisa.triskell.kermeta.graphicaleditor.cd"
            name="Kermeta class diagram">
         <enableFor class="fr.irisa.triskell.kermeta.language.structure.Package"/>
      </diagram>
	</extension>
   
<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
    	<propertySections contributorId="org.topcased.modeler.editor.Modeler">
	    	<propertySection
	        	id="fr.irisa.triskell.kermeta.graphicaleditor.NameSection"
	        	class="fr.irisa.triskell.kermeta.graphicaleditor.editor.properties.sections.NamePropertySection"
	        	tab="org.topcased.modeler.modelTab">
	        <input type="fr.irisa.triskell.kermeta.language.structure.NamedElement"/>
			</propertySection>
		</propertySections>
	</extension>
<extension
      point="org.eclipse.ui.popupMenus">
   <viewerContribution
         id="fr.irisa.triskell.kermeta.graphicaleditor.viewerContribution1"
         targetID="org.topcased.modeler">
      <action
            class="fr.irisa.triskell.kermeta.graphicaleditor.cd.actions.DeleteInheritanceEdgeAction"
            enablesFor="1"
            icon="icons/Inheritance.gif"
            id="fr.irisa.triskell.kermeta.graphicaleditor.newAction"
            label="Delete inheritance edge"
            menubarPath="org.eclipse.gef.group.edit">
      </action>
      <visibility>
         <objectClass name="fr.irisa.triskell.kermeta.graphicaleditor.cd.edit.InheritanceEditPart"/>
      </visibility>
   </viewerContribution>
</extension>
	<!--
	   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="titi"
            targetID="org.topcased.modeler">
         <visibility>
            <objectClass name="fr.irisa.triskell.kermeta.graphicaleditor.diag.edit.InheritanceEditPart"/>
         </visibility>
         <action
               class="fr.irisa.triskell.kermeta.graphicaleditor.actions.DeleteInheritanceEdgeAction"
               icon="icons/kermeta.png"
               id="fr.irisa.triskell.kermeta.prototyper.newAction3"
               label="Delete inheritance edge"
               menubarPath="org.eclipse.gef.group.edit"
               />
      </viewerContribution>
   </extension>
	-->
</plugin>
