<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.ui.editors">
      <editor
            class="fr.irisa.triskell.kermeta.samples.fsm.graphicalEditor.editor.FsmEditor"
            icon="icons/FSM.gif"
            default="true"
            name="Fsm Graphical Editor"
            id="fr.irisa.triskell.kermeta.samples.fsm.graphicalEditor.editor.FsmEditor"
            contributorClass="fr.irisa.triskell.kermeta.samples.fsm.graphicalEditor.actions.FsmEditorActionBarContributor"
            extensions="fsmdi">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.newWizards">
      <wizard
            icon="icons/FSM.gif"
            class="fr.irisa.triskell.kermeta.samples.fsm.graphicalEditor.wizards.NewFsmDiagrams"
            category="fr.irisa.triskell.kermeta.KermetaWizard/fr.irisa.triskell.kermeta.samples.fsm.Wizard.category.ID"
            name="Fsm Diagram"
            id="fr.irisa.triskell.kermeta.samples.fsm.graphicalEditor.wizards.NewFsmDiagrams">
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.topcased.modeler.perspective">
         <newWizardShortcut id="fr.irisa.triskell.kermeta.samples.fsm.graphicalEditor.wizards.NewFsmDiagrams"/>
      </perspectiveExtension>
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="org.topcased.modeler.preferences.ModelerPreferencePage"
            class="fr.irisa.triskell.kermeta.samples.fsm.graphicalEditor.preferences.FsmPreferencePage"
            id="fr.irisa.triskell.kermeta.samples.fsm.graphicalEditor.preferences.FsmPreferencePage"
            name="Fsm"/>
   </extension>
   
      <extension point="org.topcased.modeler.templates">
      <template
            di="templates/diagram/%name%.fsmdi"
            model="templates/diagram/%name%.fsm"
            name="Fsm - Fsm Diagram"
            id="fr.irisa.triskell.kermeta.samples.fsm.graphicalEditor.templates.diagram"
            editorId="fr.irisa.triskell.kermeta.samples.fsm.graphicalEditor.editor.FsmEditor"/>
   </extension>
   
   <extension point="org.topcased.modeler.diagrams">
      <diagram
            configuration="fr.irisa.triskell.kermeta.samples.fsm.graphicalEditor.diagram.FsmConfiguration"
            icon="icons/FSM.gif"
            id="fr.irisa.triskell.kermeta.samples.fsm.graphicalEditor.diagram"
            name="Fsm Diagram">
         <enableFor class="fr.irisa.triskell.kermeta.samples.fsm.FSM"/>
      </diagram>
	</extension>
   
</plugin>
