<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.editors">
		<editor
        class="org.kermeta.language.texteditor.eclipse.internal.KermetaEditor"
        id="org.kermeta.language.texteditor.eclipse.internal.KermetaEditorID"
        contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
        default="true"
        extensions="kmt"
        icon="icons/kermeta.gif"
        name="Kermeta Editor">
		</editor>
	</extension>	
</plugin>
