<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.kermeta.org/kermeta/2_0_0/"
            class="org.provider.OrgItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.kermeta.org/kermeta/2_0_0//org/kermeta"
            class="org.kermeta.provider.KmItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.kermeta.org/kermeta/2_0_0//org/kermeta/language"
            class="org.kermeta.language.provider.LanguageItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.kermeta.org/kermeta/2_0_0//org/kermeta/language/behavior"
            class="org.kermeta.language.behavior.provider.BehaviorItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.kermeta.org/kermeta/2_0_0//org/kermeta/language/structure"
            class="org.kermeta.language.structure.provider.StructureItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

	<!-- EEF extensions from structure_properties.plugin.xml-->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.kermeta.org/kermeta/2_0_0//org/kermeta/language/structure"
            class="org.kermeta.language.structure.providers.StructureEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.kermeta.language.behavior.providers.BehaviorPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.kermeta.providers.KermetaPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.kermeta.language.providers.LanguagePropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.kermeta.language.structure.providers.StructurePropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.providers.OrgPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

   <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="structure.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="structure.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="structure.properties">
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.KermetaModelElement"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.KermetaModelElement">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.Operation"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.Operation">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.Property"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.Property">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.EnumerationLiteral"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.EnumerationLiteral">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.TypeVariableBinding"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.TypeVariableBinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.MultiplicityElement"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.MultiplicityElement">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.TypeDefinition"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.TypeDefinition">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.Class"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.Class">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.Enumeration"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.Enumeration">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.Package"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.Package">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.Parameter"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.Parameter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.PrimitiveType"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.PrimitiveType">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.Tag"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.Tag">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.Constraint"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.Constraint">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.ClassDefinition"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.ClassDefinition">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.ModelingUnit"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.ModelingUnit">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.TypeDefinitionContainer"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.TypeDefinitionContainer">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.Require"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.Require">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.ObjectTypeVariable"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.ObjectTypeVariable">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.ModelType"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.ModelType">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.ModelTypeVariable"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.ModelTypeVariable">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.VirtualType"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.VirtualType">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.Model"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.Model">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.UnresolvedType"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.UnresolvedType">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.UnresolvedProperty"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.UnresolvedProperty">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.UnresolvedOperation"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.UnresolvedOperation">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.Using"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.Using">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.ProductType"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.ProductType">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.FunctionType"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.FunctionType">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.VoidType"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.VoidType">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.TypeMapping"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.TypeMapping">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.structure.section.UnresolvedInferredType"
               tab="Base">
             <input
                    type="org.kermeta.language.structure.UnresolvedInferredType">
             </input>
         </propertySection>
      </propertySections>
   </extension>
	<!-- EEF extensions from beahavior-->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.kermeta.org/kermeta/2_0_0//org/kermeta/language/behavior"
            class="org.kermeta.language.behavior.providers.BehaviorEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.kermeta.language.behavior.providers.BehaviorPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.kermeta.providers.KermetaPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.kermeta.language.providers.LanguagePropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.kermeta.language.structure.providers.StructurePropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.providers.OrgPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

   <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.kermeta.language.behavior.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.kermeta.language.behavior.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.kermeta.language.behavior.properties">
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.Assignment"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.Assignment">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.Block"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.Block">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.CallVariable"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.CallVariable">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.CallFeature"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.CallFeature">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.CallSuperOperation"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.CallSuperOperation">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.CallResult"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.CallResult">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.CallValue"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.CallValue">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.Conditional"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.Conditional">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.Raise"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.Raise">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.Rescue"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.Rescue">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.TypeReference"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.TypeReference">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.EmptyExpression"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.EmptyExpression">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.JavaStaticCall"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.JavaStaticCall">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.LambdaExpression"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.LambdaExpression">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.LambdaParameter"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.LambdaParameter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.IntegerLiteral"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.IntegerLiteral">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.StringLiteral"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.StringLiteral">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.BooleanLiteral"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.BooleanLiteral">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.CallTypeLiteral"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.CallTypeLiteral">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.VoidLiteral"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.VoidLiteral">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.Loop"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.Loop">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.SelfExpression"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.SelfExpression">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.VariableDecl"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.VariableDecl">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.UnresolvedCall"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.UnresolvedCall">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.CallOperation"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.CallOperation">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.CallProperty"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.CallProperty">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.kermeta.language.behavior.section.CallEnumLiteral"
               tab="Base">
             <input
                    type="org.kermeta.language.behavior.CallEnumLiteral">
             </input>
         </propertySection>
      </propertySections>
   </extension>
	<!-- EEF extensions from org -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.kermeta.org/kermeta/2_0_0/"
            class="org.providers.OrgEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.kermeta.language.behavior.providers.BehaviorPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.kermeta.providers.KermetaPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.kermeta.language.providers.LanguagePropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.kermeta.language.structure.providers.StructurePropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.providers.OrgPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

   <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.properties">
      </propertySections>
   </extension>


	<!-- EEF extensions  from kermeta-->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.kermeta.org/kermeta/2_0_0//org/kermeta"
            class="org.kermeta.providers.KermetaEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.kermeta.language.behavior.providers.BehaviorPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.kermeta.providers.KermetaPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.kermeta.language.providers.LanguagePropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.kermeta.language.structure.providers.StructurePropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.providers.OrgPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

   <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.kermeta.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.kermeta.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.kermeta.properties">
      </propertySections>
   </extension>
	
	<!-- EEF extensions from language-->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.kermeta.org/kermeta/2_0_0//org/kermeta/language"
            class="org.kermeta.language.providers.LanguageEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.kermeta.language.behavior.providers.BehaviorPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.kermeta.providers.KermetaPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.kermeta.language.providers.LanguagePropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.kermeta.language.structure.providers.StructurePropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.providers.OrgPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

   <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.kermeta.language.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.kermeta.language.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.kermeta.language.properties">
      </propertySections>
   </extension>

</plugin>
