<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="art.resource.artext.mopp.ArtextMetaInformation" id="art.resource.artext.mopp.ArtextMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="art.resource.artext.nature" name="artext nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="art.resource.artext.mopp.ArtextNature" />
		</runtime>
		<builder id="art.resource.artext.builder" />
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="art.resource.artext.builder" name="artext Builder">
		<builder hasNature="true">
			<run class="art.resource.artext.mopp.ArtextBuilderAdapter" />
		</builder>
	</extension>
	
	<extension-point id="art.resource.artext.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="art.resource.artext.mopp.ArtextResourceFactoryDelegator" type="artext">
		</parser>
	</extension>
	
	<extension-point id="art.resource.artext.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
