<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="kpmTestWorkbench"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.kermeta.kpm.test.KpmApplication">
         </run>
      </application>
   </extension>
   <extension
         point="fr.irisa.triskell.kermeta.kpm.javaAction">
      <Action
            class="org.kermeta.kpm.test.actions.UpdateLastTimeModifiedAction"
            id="org.kermeta.kpm.test.workbench.updateLastTimeModified">
      </Action>
   </extension>

</plugin>
