<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 INRIA/IRISA
 Triskell Team
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org2.kermeta.kompren.slicer.presentation.SlicerModelWizardID"
            name="%_UI_SlicerModelWizard_label"
            class="org2.kermeta.kompren.slicer.presentation.SlicerModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SlicerModelFile.gif">
         <description>%_UI_SlicerModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org2.kermeta.kompren.slicer.presentation.SlicerEditorID"
            name="%_UI_SlicerEditor_label"
            icon="icons/full/obj16/SlicerModelFile.gif"
            extensions="kompren"
            class="org2.kermeta.kompren.slicer.presentation.SlicerEditor"
            contributorClass="org2.kermeta.kompren.slicer.presentation.SlicerActionBarContributor">
      </editor>
   </extension>

</plugin>
