<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 INRIA/IRISA
 Triskell Team
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org2.kermeta.kompren.slicing.presentation.SlicingModelWizardID"
            name="%_UI_SlicingModelWizard_label"
            class="org2.kermeta.kompren.slicing.presentation.SlicingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SlicingModelFile.gif">
         <description>%_UI_SlicingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org2.kermeta.kompren.slicing.presentation.SlicingEditorID"
            name="%_UI_SlicingEditor_label"
            icon="icons/full/obj16/SlicingModelFile.gif"
            extensions="kompren"
            class="org2.kermeta.kompren.slicing.presentation.SlicingEditor"
            contributorClass="org2.kermeta.kompren.slicing.presentation.SlicingActionBarContributor">
      </editor>
   </extension>

</plugin>
