<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="fr.irisa.triskell.kermeta.runner"
   name="Runner Plug-in"
   version="0.0.4"
   provider-name="INRIA/IRISA"
   class="fr.irisa.triskell.kermeta.runner.RunnerPlugin">

   <runtime>
      <library name="runner_kermeta.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.emf.common"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.ui.console"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.jdt"/>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.forms"/>
      <import plugin="org.eclipse.ui.cheatsheets"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.examples.javaeditor"/>
      <import plugin="org.eclipse.ui.externaltools"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.intro"/>
	  <import plugin="fr.irisa.triskell.kermeta"/>
   </requires>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.kmt"
            id="fr.irisa.triskell.kermeta.runner.contribution1">
         <menu
               label="KermetaMenu"
               path="additions"
               id="fr.irisa.triskell.kermeta.runner.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               enablesFor="1"
               label="Kermeta Run"
               class="fr.irisa.triskell.kermeta.runner.popup.actions.KermetaRun"
               menubarPath="additions"
               id="fr.irisa.triskell.kermeta.runner.newAction">
         </action>
      </objectContribution>
   </extension>
   <!-- Extension point for the Kermeta Run menu item in the Run properties -->
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
          sourceLocatorId="fr.irisa.triskell.kermeta.runner.sourceLocator1"
          delegate="fr.irisa.triskell.kermeta.runner.launching.KermetaLaunchConfiguration"
          public="true"
          name="Kermeta Run Configuration"
          modes="run, debug"
          id="KermetaLaunchConfiguration">        
    </launchConfigurationType>
   </extension>
  
   <!-- Source locator -->
	<!-- Tab groups for the launch configuration manager -->
      <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="KermetaLaunchConfiguration"
            class="fr.irisa.triskell.kermeta.runner.launching.KermetaLaunchConfigTabGroup"
            id="KermetaTabGroup">
         <launchMode
               description="description du launch mode"
               mode="run"/>
      </launchConfigurationTabGroup>
   </extension> 
 
   <!-- Perspective -->
      <extension
            point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
            <newWizardShortcut id="org.eclipse.jdt.ui.wizards.NewProjectCreationWizard"/>
            <viewShortcut id="org.eclipse.jdt.ui.TypeHierarchy"/>
            <perspectiveShortcut id="org.eclipse.debug.ui.DebugPerspective"/>
            <actionSet id="org.eclipse.jdt.ui.JavaActionSet"/>
            <view
                  ratio="0.5"
                  relationship="left"
                  relative="org.eclipse.ui.views.ResourceNavigator"
                  id="org.eclipse.jdt.ui.PackageExplorer"/>
         </perspectiveExtension>
      </extension>
      <extension
      
            id="KermetaPerspective"
            name="kermetaPerspective"
            point="org.eclipse.ui.perspectives">
         <perspective
               class="fr.irisa.triskell.kermeta.runner.perspective.KermetaPerspectiveFactory"
               icon="icons/kermeta_logo.gif"
               name="Kermeta Perspective"
               id="kermetaPerspective"/>
      </extension>
      <extension
            point="org.eclipse.debug.ui.launchGroups">
         <launchGroup
               bannerImage="icons/kermeta_logo.gif"
               label="Kermeta Configuration"
               mode="run"
               image="icons/kermeta_logo.gif"
               id="KermetaLaunchGroup"/>
      </extension>
      <extension
            point="org.eclipse.debug.ui.launchConfigurationTypeImages">
         <launchConfigurationTypeImage
               icon="icons/kermeta_logo.gif"
               configTypeID="KermetaLaunchConfiguration"
               id="fr.irisa.triskell.kermeta.runner.launchConfigurationTypeImage1"/>
      </extension>
   <!--   <extension
            point="org.eclipse.debug.ui.launchShortcuts">
         <shortcut
               label="Kermeta Launch Shortcut"
               icon="icons/kermeta_logo.gif"
               class="fr.irisa.triskell.kermeta.runner.KermetaLaunchShortcut"
               modes="run"
               id="KermetaLaunchShortCut"/>
      </extension>-->
      <extension
            point="org.eclipse.ui.newWizards">
         <category
               name="Kermeta"
               id="KermetaWizard"/>
         <wizard
               finalPerspective="KermetaPerspective"
               class="fr.irisa.triskell.kermeta.runner.wizards.KermetaNewFileWizard"
               icon="icons/kermeta.png"
               descriptionImage="icons/kermeta.png"
               category="KermetaWizard"
               name="New K. file"
               id="fr.irisa.triskell.kermeta.runner.wizards.KermetaNewFileWizard"/>
         <wizard
               finalPerspective="KermetaPerspective"
               icon="icons/tree_package.gif"
               class="fr.irisa.triskell.kermeta.runner.wizards.KermetaNewProjectWizard"
               descriptionImage="icons/tree_package.gif"
               category="KermetaWizard"
               project="true"
               name="New K. project"
               id="fr.irisa.triskell.kermeta.runner.wizards.KermetaNewProjectWizard"/>
      </extension>
      <extension
            point="org.eclipse.debug.core.sourceLocators">
         <sourceLocator
               class="fr.irisa.triskell.kermeta.runner.PersistableSourceLocator1"
               name="fr.irisa.triskell.kermeta.runner.sourceLocator1"
               id="fr.irisa.triskell.kermeta.runner.sourceLocator1"/>
      </extension>


</plugin>
