<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="fr.irisa.triskell.kermeta.runner"
   name="Runner Plug-in"
   version="0.0.4"
   provider-name="INRIA/IRISA"
   class="fr.irisa.triskell.kermeta.runner.RunnerPlugin">

   <runtime>
      <library name="runner_kermeta.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.emf.common"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.ui.console"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.jdt"/>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.forms"/>
      <import plugin="org.eclipse.ui.cheatsheets"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.examples.javaeditor"/>
      <import plugin="org.eclipse.ui.externaltools"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.intro"/>
	  <import plugin="fr.irisa.triskell.kermeta"/>
   <import plugin="org.eclipse.pde"/>
   </requires>
      <extension
      
            id="KermetaPerspectives"
            name="kermetaPerspectives"
            point="org.eclipse.ui.perspectives">
         <perspective
               class="fr.irisa.triskell.kermeta.runner.perspective.KermetaPerspective"
               icon="icons/kermeta_logo.gif"
               name="Kermeta Perspective"
               id="kermetaPerspective"/>
      </extension>
      <extension
            point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
            <newWizardShortcut id="fr.irisa.triskell.kermeta.runner.wizards.kermetaNewFileWizard"/>
            <viewShortcut id="org.eclipse.jdt.ui.TypeHierarchy"/>
            <perspectiveShortcut id="org.eclipse.debug.ui.DebugPerspective"/>
            <actionSet id="org.eclipse.jdt.ui.JavaActionSet"/>
            <view
                  ratio="0.5"
                  relationship="left"
                  relative="org.eclipse.ui.views.ResourceNavigator"
                  id="org.eclipse.jdt.ui.PackageExplorer"/>
            <perspectiveShortcut id="kermetaPerspective"/>
         </perspectiveExtension>
         <perspectiveExtension targetID="kermetaPerspective">
            <newWizardShortcut id="fr.irisa.triskell.kermeta.runner.wizards.kermetaNewFileWizard"/>
            <newWizardShortcut id="fr.irisa.triskell.kermeta.runner.wizards.KermetaNewProjectWizard"/>
            <actionSet id="org.eclipse.debug.ui.launchActionSet"/>
            <actionSet id="kermetaActionSet"/>
        <showInPart
               id="org.eclipse.ui.views.ResourceNavigator">
         </showInPart>
         <showInPart
               id="org.eclipse.jdt.ui.PackageExplorer">
         </showInPart>
         <perspectiveShortcut id="org.eclipse.ui.resourcePerspective"/>
         </perspectiveExtension>
      </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.kmt"
            id="fr.irisa.triskell.kermeta.runner.contribution1">
         <menu
               label="KermetaMenu"
               path="additions"
               id="fr.irisa.triskell.kermeta.runner.menu1">
            <separator
                  >
            </separator>
         </menu>
         <action
               enablesFor="1"
               label="Kermeta Run"
               class="fr.irisa.triskell.kermeta.runner.popup.actions.KermetaRun"
               menubarPath="additions"
               id="fr.irisa.triskell.kermeta.runner.newAction">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            id="org.inria.mtl.popIproject"/>
   </extension>
   <!-- Extension point for the Kermeta Run menu item in the Run properties -->
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
          sourceLocatorId="kermetaSourceLocator"
          delegate="fr.irisa.triskell.kermeta.runner.launching.KermetaLaunchConfiguration"
          public="true"
          name="Kermeta Run Configuration"
          modes="run, debug"
          id="KermetaLaunchConfiguration">        
    </launchConfigurationType>
   </extension>
  
   <!-- Source locator -->
	<!-- Tab groups for the launch configuration manager -->
      <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="KermetaLaunchConfiguration"
            class="fr.irisa.triskell.kermeta.runner.launching.KermetaLaunchConfigTabGroup"
            id="KermetaTabGroup">
         <launchMode
               description="description du launch mode"
               mode="run"/>
      </launchConfigurationTabGroup>
   </extension> 
 
   <!-- Perspective -->
      <extension
            point="org.eclipse.debug.ui.launchGroups">
         <launchGroup
               bannerImage="icons/kermeta_logo.gif"
               label="Kermeta Configuration"
               mode="run"
               image="icons/kermeta_logo.gif"
               id="KermetaLaunchGroup"/>
      </extension>
      <extension
            point="org.eclipse.debug.ui.launchConfigurationTypeImages">
         <launchConfigurationTypeImage
               icon="icons/kermeta_logo.gif"
               configTypeID="KermetaLaunchConfiguration"
               id="fr.irisa.triskell.kermeta.runner.launchConfigurationTypeImage1"/>
      </extension>
   <!--   <extension
            point="org.eclipse.debug.ui.launchShortcuts">
         <shortcut
               label="Kermeta Launch Shortcut"
               icon="icons/kermeta_logo.gif"
               class="fr.irisa.triskell.kermeta.runner.KermetaLaunchShortcut"
               modes="run"
               id="KermetaLaunchShortCut"/>
      </extension>-->
      <extension
            point="org.eclipse.ui.newWizards">
         <category
               name="Kermeta"
               id="KermetaWizard"/>
         <wizard
               icon="icons/kermeta.png"
               class="fr.irisa.triskell.kermeta.runner.wizards.KermetaNewFileWizard"
               finalPerspective="kermetaPerspective"
               category="KermetaWizard"
               descriptionImage="icons/kermeta.png"
               project="true"
               preferredPerspectives="org.eclipse.ui.resourcePerspective"
               name="New K. file"
               id="fr.irisa.triskell.kermeta.runner.wizards.kermetaNewFileWizard"/>
         <wizard
               class="fr.irisa.triskell.kermeta.runner.wizards.KermetaNewProjectWizard"
               icon="icons/tree_package.gif"
               finalPerspective="kermetaPerspective"
               category="KermetaWizard"
               descriptionImage="icons/tree_package.gif"
               project="true"
               preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.ui.resourcePerspective"
               name="New K. project"
               id="fr.irisa.triskell.kermeta.runner.wizards.KermetaNewProjectWizard">
            <selection class="org.eclipse.core.resources.IProject"/>
         </wizard>
      </extension>
      <extension
            point="org.eclipse.debug.core.sourceLocators">
         <sourceLocator
               class="fr.irisa.triskell.kermeta.runner.launching.KermetaSourceLocator"
               name="fr.irisa.triskell.kermeta.runner.kermetaSourceLocator"
               id="kermetaSourceLocator"/>
      </extension>
      <extension
            id="kermetaActionSets"
            point="org.eclipse.ui.actionSets">
         <actionSet
               label="fr.irisa.triskell.kermeta.runner.actions.actionSet"
               visible="false"
               id="kermetaActionSet">
            <action
                  toolbarPath="Normal"
                  label="newFileAction"
                  icon="icons/tree_package.gif"
                  class="fr.irisa.triskell.kermeta.runner.actions.KermetaNewFileWizardAction"
                  tooltip="Create a new K. File"
                  id="newFileAction">
            </action>
         </actionSet>
      </extension>
      <!-- Popup menu-->
      <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="popIProject">
         <menu
               label="KermetaMenu"
               path="group.new"
               id="kermetaPopupMenu">
            <separator
                  name="kermetaPopupMenu/additions">
            </separator>
         </menu>
         <action
               label="New fucking file"
               icon="icons/kermeta.png"
               class="fr.irisa.triskell.kermeta.runner.actions.KermetaNewFileWizardAction"
               menubarPath="kermetaPopupMenu"
               id="PopupKermetaNewFileWizardAction"/>

      </objectContribution>
   </extension>


</plugin>
