<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.kermeta.language.filegraph.prefuse.ui.contribution1"
            nameFilter="*.kmt"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
	         id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
	         label="KerMeta"
	         path="additions">
      		<separator name="kermetagroupextra"/>
		</menu>
         <action
               label="Show file dependencies"
               icon="icons/prefuse_aggregategraph.png"
               class="org.kermeta.language.filegraph.prefuse.ui.popup.actions.ShowFileDependenciesAction"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroupextra"
               enablesFor="1"
               id="org.kermeta.language.filegraph.prefuse.ui.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
