<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2006-09-26 15:30:03 dtouzet Exp $
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "sts.presentation.StsModelWizardID"
      name = "%_UI_StsModelWizard_label"
      class = "sts.presentation.StsModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/StsModelFile.gif">
      <description>%_UI_StsModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "sts.presentation.StsEditorID"
        name = "%_UI_StsEditor_label"
        icon = "icons/full/obj16/StsModelFile.gif"
        extensions = "sts"
        class = "sts.presentation.StsEditor" 
        contributorClass="sts.presentation.StsActionBarContributor" >
    </editor>
  </extension>    
</plugin>
