<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="ecoretestlauncher"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="fr.irisa.triskell.kermeta.ecore.tests.launcher.EcoreTestLauncher">
         </run>
      </application>
   </extension>

</plugin>
