<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Kermeta"
            id="fr.irisa.triskell.kermeta.touchnavigator">
      </category>
      <view
            name="Kermeta TouchNavigator View"
            icon="icons/touchgraph.gif"
            category="fr.irisa.triskell.kermeta.touchnavigator"
            class="fr.irisa.triskell.kermeta.touchnavigator.views.TouchClassView"
            id="fr.irisa.triskell.kermeta.touchnavigator.views.KermetaTouchView">
      </view>
      <view
            name="EMF Model TouchNavigator View"
            icon="icons/touchgraph.gif"
            category="fr.irisa.triskell.kermeta.touchnavigator"
            class="fr.irisa.triskell.kermeta.touchnavigator.views.TouchEMFModelView"
            id="fr.irisa.triskell.kermeta.touchnavigator.views.EMFModelTouchView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="fr.irisa.triskell.kermeta.touchnavigator.views.KermetaTouchView">
         </view>
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="fr.irisa.triskell.kermeta.touchnavigator.views.EMFModelTouchView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="fr.irisa.triskell.kermeta.contribution13"
            nameFilter="*.*"
            objectClass="org.eclipse.core.resources.IFile">
         <!--<menu
	         id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
	         label="KerMeta"
	         path="additions">
      		<separator name="kermetagroup1"/>
		</menu>-->
        <action
               enablesFor="1"
               label="Open with EMF touchgraph"
               icon="icons/kermeta_touchgraph.png"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1" 
               class="fr.irisa.triskell.kermeta.touchnavigator.popup.actions.OpenWithEMFTouchGraphAction"
               id="fr.irisa.triskell.kermeta.touchgraph.openemftouchgraph"/>
      <!--  <filter
              name="iscompatible"
              value="true"/>
       -->
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="fr.irisa.triskell.kermeta.contribution14"
            nameFilter="*.*"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
	         id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
	         label="KerMeta"
	         path="additions">
      		<separator name="kermetagroup1"/>
		</menu>
        <action
              class="fr.irisa.triskell.kermeta.touchnavigator.popup.actions.ShowInEMFTouchGraphAction"
              enablesFor="1"
              icon="icons/kermeta_touchgraph.png"
              id="fr.irisa.triskell.kermeta.touchgraph.showinemftouchgraph"
              label="Show in EMF touchgraph"
              menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1"/>
       
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="fr.irisa.triskell.kermeta.touchnavigator.FileAdapterFactory">
         <adapter type="fr.irisa.triskell.kermeta.touchnavigator.popup.actions.EMFLoadableFilter"/>
      </factory>
   </extension>
</plugin>
