<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2007/02/15 11:26:41 barais Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
          class="emf.spoon.SpoonPackage"
          genModel="model/java5.genmodel"
          uri="http://spoon"/> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://spoon#reflect.reference" 
       class = "emf.spoon.reflect.reference.ReferencePackage"
       genModel = "model/java5.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://spoon#reflect.code" 
       class = "emf.spoon.reflect.code.CodePackage"
       genModel = "model/java5.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
          class="emf.spoon.reflect.declaration.DeclarationPackage"
          genModel="model/java5.genmodel"
          uri="http://spoon#reflect.declaration"/> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://spoon#facade" 
       class = "emf.spoon.facade.FacadePackage"
       genModel = "model/java5.genmodel" /> 
  </extension>
 
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://spoon#reflect" 
       class = "emf.spoon.reflect.ReflectPackage"
       genModel = "model/java5.genmodel" /> 
  </extension>
  <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           id="SpoonEMF.contribution1"
           nameFilter="*"
           objectClass="org.eclipse.jdt.core.IPackageFragment">
        <menu
              id="SpoonEMF.menu1"
              label="SpoonEMF"
              path="additions">
           <separator name="group1"/>
        </menu>
        <action
              class="spoonemf.popup.actions.Java2XMI"
              enablesFor="*"
              icon="icons/spoon.gif"
              id="SpoonEMF.newAction"
              label="Create XMI files from Java Folder(s)"
              menubarPath="SpoonEMF.menu1/group1"/>
     </objectContribution>
     <objectContribution
           id="SpoonEMF.contribution2"
           nameFilter="*"
           objectClass="org.eclipse.jdt.core.IPackageFragmentRoot">
        <menu
              id="SpoonEMF.menu2"
              label="SpoonEMF"
              path="additions">
           <separator name="group2"/>
        </menu>
        <action
              class="spoonemf.popup.actions.Java2XMI"
              enablesFor="*"
              icon="icons/spoon.gif"
              id="SpoonEMF.newAction1"
              label="Create XMI files from Java Folder(s)"
              menubarPath="SpoonEMF.menu2/group2"/>
     </objectContribution>
     <objectContribution
           id="SpoonEMF.contribution3"
           nameFilter="*.java5"
           objectClass="org.eclipse.core.resources.IFile">
        <menu
              id="SpoonEMF.menu3"
              label="SpoonEMF"
              path="additions">
           <separator name="group3"/>
        </menu>
        <action
              class="spoonemf.popup.actions.XMI2java"
              enablesFor="1"
              icon="icons/spoon.gif"
              id="SpoonEMF.newAction3"
              label="Create Java source  files from XMI"
              menubarPath="SpoonEMF.menu3/group3"/>
     </objectContribution>
  </extension>
  <extension
        point="org.eclipse.ui.editors">
     <editor
           class="org.eclipse.emf.ecore.presentation.EcoreEditor"
           contributorClass="org.eclipse.emf.ecore.presentation.EcoreActionBarContributor$Reflective"
           extensions="java5"
           icon="icons/spoon.png"
           id="SpoonEMFReflexiveEditor"
           name="java5 xmi reflexive editor"/>
  </extension>

</plugin>

