<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Kermeta"
            id="org.kermeta.kp.wizard.eclipse">
      </category>
      <wizard
            name="Kermeta file"
            icon="icons/newkermetafile.png"
            category="org.kermeta.kp.wizard.eclipse"
            class="org.kermeta.kp.wizard.eclipse.wizards.KmtNewWizard"
            id="org.kermeta.kp.wizard.eclipse.wizards.KmtNewWizard">
      </wizard>
      <wizard
            category="org.kermeta.kp.wizard.eclipse"
            class="org.kermeta.kp.wizard.eclipse.wizards.KermetaProjectNewWizard"
            icon="icons/new_kermeta_project.gif"
            id="org.kermeta.kp.wizard.eclipse.wizards.KermetaProjectNewWizard"
            name="Kermeta project"
            project="true">
      </wizard>
   </extension>  
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.kermeta.language.builder.eclipse.preferences.KermetaPreferencePage"
            class="org.kermeta.kp.wizard.eclipse.preferences.KermetaPreferencePage"
            id="org.kermeta.kp.wizard.eclipse.preferences.KermetaPreferencePage"
            name="Kermeta template Preferences">
      </page>
   </extension> 
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.kermeta.kp.wizard.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
