<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.kemeta.art2.editor.eclipse.contribution1">
         <menu
               icon="icons/art2_logo_v2_16.png"
               id="org.kemeta.art2.editor.eclipse.menu1"
               label="ART2"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.kermeta.art2.editor.eclipse.popup.actions.OpenGraphicalEditorAction"
               enablesFor="1"
               icon="icons/art2_logo_v2_16.png"
               id="org.kemeta.art2.editor.eclipse.newAction"
               label="Open in Graphical editor"
               menubarPath="org.kemeta.art2.editor.eclipse.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
