<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.smartadapters.core.presentation.SmartAdapters4DiVAModelWizardID"
            name="%_UI_SmartAdapters4DiVAModelWizard_label"
            class="org.smartadapters.core.presentation.CoreModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SmartAdapters4DiVAModelFile.gif">
         <description>%_UI_SmartAdapters4DiVAModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.smartadapters.core.presentation.SmartAdapters4DiVAEditorID"
            name="%_UI_SmartAdapters4DiVAEditor_label"
            icon="icons/full/obj16/SmartAdapters4DiVAModelFile.gif"
            extensions="smART"
            class="org.smartadapters.core.presentation.CoreEditor"
            contributorClass="org.smartadapters.core.presentation.CoreActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.smartadapters.core.adaptations.presentation.AdaptationsEditorID"
            name="%_UI_AdaptationsEditor_label"
            icon="icons/full/obj16/AdaptationsModelFile.gif"
            extensions="adaptations"
            class="org.smartadapters.core.adaptations.presentation.AdaptationsEditor"
            contributorClass="org.smartadapters.core.adaptations.presentation.AdaptationsActionBarContributor">
      </editor>
   </extension>

</plugin>
