<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.smartadapters.core.presentation.CoreModelWizardID"
            name="%_UI_CoreModelWizard_label"
            class="org.smartadapters.core.presentation.CoreModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CoreModelFile.gif">
         <description>%_UI_CoreModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.smartadapters.core.presentation.CoreEditorID"
            name="%_UI_CoreEditor_label"
            icon="icons/full/obj16/CoreModelFile.gif"
            extensions="core"
            class="org.smartadapters.core.presentation.CoreEditor"
            contributorClass="org.smartadapters.core.presentation.CoreActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.smartadapters.core.adaptations.presentation.AdaptationsModelWizardID"
            name="%_UI_AdaptationsModelWizard_label"
            class="org.smartadapters.core.adaptations.presentation.AdaptationsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AdaptationsModelFile.gif">
         <description>%_UI_AdaptationsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.smartadapters.core.adaptations.presentation.AdaptationsEditorID"
            name="%_UI_AdaptationsEditor_label"
            icon="icons/full/obj16/AdaptationsModelFile.gif"
            extensions="adaptations"
            class="org.smartadapters.core.adaptations.presentation.AdaptationsEditor"
            contributorClass="org.smartadapters.core.adaptations.presentation.AdaptationsActionBarContributor">
      </editor>
   </extension>

</plugin>
