<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.ecore"
            id="fr.irisa.triskell.kermeta.contributionEcore2">
         <menu
	         id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
	         label="Kermeta"
	         path="additions">
      		<separator name="kermetagroup1"/>
		</menu>
        <action
               enablesFor="1"
               label="Generate Kermeta Source (=&gt;kmt)"
               icon="images/kermeta.png"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1" 
               class="fr.irisa.triskell.kermeta.popup.actions.Ecore2KermetaAction"
               id="fr.irisa.triskell.kermeta.Ecore2KMT"/>
       <action
             class="fr.irisa.triskell.kermeta.popup.actions.Ecore2KmAction"
             icon="images/to_xmi_16.gif"
             id="fr.irisa.triskell.kermeta.action1"
             label="Generate Km (Kermeta model)"
             menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1"/>
       
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.kmt"
            id="fr.irisa.triskell.kermeta.objectContributionKMT2">
        <menu
	         id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
	         label="Kermeta"
	         path="additions">
      		<separator name="kermetagroup2"/>
      	</menu>
        <action
               enablesFor="1"
               label="Generate Km (Kermeta model)"
               icon="images/to_xmi_16.gif"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1" 
               class="fr.irisa.triskell.kermeta.popup.actions.CompileKMTAction"
               id="fr.irisa.triskell.kermeta.KMT2KM"/>         
        <action
               enablesFor="1"
               label="Generate Ecore"
               icon="images/eclipse_ecore.gif"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1" 
               class="fr.irisa.triskell.kermeta.popup.actions.Kermeta2EcoreAction"
               id="fr.irisa.triskell.kermeta.KMT2Ecore"/>         
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.km"
            id="fr.irisa.triskell.kermeta.objectContributionKM2">
            
        <menu
	         id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
	         label="Kermeta"
	         path="additions">
      		<separator name="kermetagroup2"/>
      	</menu>
       <action
               enablesFor="1"
               label="Generate Kermeta Source (=&gt;kmt)"
               icon="images/kermeta.png"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1" 
               class="fr.irisa.triskell.kermeta.popup.actions.Km2kmtAction"
               id="fr.irisa.triskell.kermeta.KM2KMT"/>         
        <action
               enablesFor="1"
               label="Generate Ecore"
               icon="images/eclipse_ecore.gif"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1" 
               class="fr.irisa.triskell.kermeta.popup.actions.Kermeta2EcoreAction"   		
               id="fr.irisa.triskell.kermeta.KM2Ecore"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="fr.irisa.triskell.kermeta.contributionEcoreMerge2Ecore"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
	         id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
	         label="Kermeta"
	         path="additions">
      		<separator name="kermetagroupextra"/>
		</menu>
       <action
               enablesFor="2+"
               label="Merge Ecore Resources"
               icon="images/eclipse_ecore.gif"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroupextra" 
               class="fr.irisa.triskell.kermeta.popup.actions.EcoreMerge2EcoreAction"
               id="fr.irisa.triskell.kermeta.EcoreMerge2Ecore"/>
       
      </objectContribution>
   </extension>
   <extension
         id="fr.irisa.triskell.kermeta.filetypes"
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            extension="kmt"
            type="text"/>
      <fileTypes
            extension="km"
            type="text"/>
      <fileTypes
            extension="ecore"
            type="text"/>
   </extension>



   <extension
         id="kermetaProblem"
         name="KermetaL Problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
	<extension
         point="org.eclipse.ui.newWizards">
      <category
            id="fr.irisa.triskell.kermeta.samples.category"
            name="Kermeta samples"
            parentCategory="org.eclipse.ui.Examples"/>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/fr.irisa.triskell.kermeta.samples.category"
            class="fr.irisa.triskell.kermeta.tools.wizards.KermetaExampleWizard"
            finalPerspective="kermetaPerspective"
            hasPages="false"
            icon="icons/newkermetafile.png"
            id="fr.irisa.triskell.kermeta.samples.wizard"
            name="Kermeta samples"
            preferredPerspectives="org.eclipse.ui.resourcePerspective"/>
   </extension>
 <extension
       id="KermetaNature"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run class="fr.irisa.triskell.kermeta.resources.KermetaNature"/>
    </runtime>
 </extension>
 <extension
       point="org.eclipse.ui.ide.projectNatureImages">
    <image
          icon="icons/kermetaproject.gif"
          id="fr.irisa.triskell.kermeta.KermetaNatureImage"
          natureId="fr.irisa.triskell.kermeta.KermetaNature"/>
 </extension>
 <extension
       point="org.eclipse.ui.intro.configExtension">
    <configExtension
          configId="org.eclipse.ui.intro.universalConfig"
          content="intro/overviewConfigExtension.xml">
    </configExtension>
 </extension>
 
</plugin>
