<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="fr.irisa.triskell.kermeta"
   name="Kermeta Workbench"
   version="0.0.11"
   provider-name="IRISA/INRIA"
   class="fr.irisa.triskell.kermeta.plugin.KermetaPlugin">
   <runtime>
      <library name="lib/thirdparty/antlr.jar">
         <export name="*"/>
      </library>
      <library name="lib/thirdparty/emfatic-core.jar">
         <export name="*"/>
      </library>
      <library name="lib/thirdparty/ldt-core.jar">
         <export name="*"/>
      </library>
      <library name="lib/thirdparty/log4j.jar">
         <export name="*"/>
      </library>
      <library name="lib/interpreter_kermeta.jar">
         <export name="*"/>
      </library>
      <library name="lib/io_kermeta.jar">
         <export name="*"/>
      </library>
      <library name="lib/model_kermeta.jar">
         <export name="*"/>
      </library>
      <library name="kermeta_plugin.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
     <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.intro"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
   </requires>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.ecore"
            id="fr.irisa.triskell.kermeta.contribution1">
         <action
               enablesFor="1"
               label="Generate Kermeta Source"
               icon="images/kermeta.png"
               class="fr.irisa.triskell.kermeta.popup.actions.Ecore2KermetaAction"
               id="fr.irisa.triskell.kermeta.Ecore2KMT"/>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.kmt"
            id="fr.irisa.triskell.kermeta.objectContribution1">
         <action
               enablesFor="1"
               label="Compile Kermeta Source"
               icon="images/tree_package.gif"
               class="fr.irisa.triskell.kermeta.popup.actions.CompileKMTAction"
               id="fr.irisa.triskell.kermeta.KMT2KM"/>
      </objectContribution>
   </extension>

</plugin>
