<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="fr.irisa.triskell.kermeta"
   name="Kermeta Workbench"
   version="0.2.2"
   provider-name="IRISA/INRIA"
   class="fr.irisa.triskell.kermeta.plugin.KermetaPlugin">
   <runtime>
      <library name="lib/thirdparty/antlr.jar">
         <export name="*"/>
      </library>
      <library name="lib/thirdparty/emfatic-core.jar">
         <export name="*"/>
      </library>
      <library name="lib/thirdparty/ldt-core.jar">
         <export name="*"/>
      </library>
      <library name="lib/thirdparty/log4j.jar">
         <export name="*"/>
      </library>
      <library name="lib/traceability.jar">
         <export name="*"/>
      </library>
      <library name="lib/interpreter_kermeta.jar">
         <export name="*"/>
      </library>
      <library name="lib/io_kermeta.jar">
         <export name="*"/>
      </library>
      <library name="kermeta_plugin.jar">
         <export name="*"/>
      </library>
      <library name="lib/model_kermeta.jar">
         <export name="*"/>
      </library>
      <library name="lib/cu_kermeta.jar">
         <export name="*"/>
      </library>
      <library name="lib/thirdparty/junit.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
     <import plugin="org.eclipse.ui" optional="true"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.intro"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
      <import plugin="org.eclipse.team.core"/>
      <import plugin="org.eclipse.ui.console"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.ui.views.properties.tabbed"/>
   </requires>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.ecore"
            id="fr.irisa.triskell.kermeta.contribution1">
         <menu
	         id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
	         label="KerMeta"
	         path="additions">
      		<separator name="kermetagroup1"/>
		</menu>
        <action
               enablesFor="1"
               label="Generate Kermeta Source (=&gt;kmt)"
               icon="images/kermeta.png"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1" 
               class="fr.irisa.triskell.kermeta.popup.actions.Ecore2KermetaAction"
               id="fr.irisa.triskell.kermeta.Ecore2KMT"/>
       <action
               enablesFor="*"
               label="Merges Ecore Ressources"
               icon="images/eclipse_ecore.gif"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1" 
               class="fr.irisa.triskell.kermeta.popup.actions.EcoreMerge2EcoreAction"
               id="fr.irisa.triskell.kermeta.EcoreMerge2Ecore"/>
       
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.kmt"
            id="fr.irisa.triskell.kermeta.objectContribution1">
        <menu
	         id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
	         label="Kermeta"
	         path="additions">
      		<separator name="kermetagroup2"/>
      	</menu>
        <action
               enablesFor="1"
               label="Compile to Kermeta model  (=&gt;km)"
               icon="images/to_xmi_16.gif"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1" 
               class="fr.irisa.triskell.kermeta.popup.actions.CompileKMTAction"
               id="fr.irisa.triskell.kermeta.KMT2KM"/>         
        <action
               enablesFor="1"
               label="Generate Ecore"
               icon="images/eclipse_ecore.gif"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1" 
               class="fr.irisa.triskell.kermeta.popup.actions.Kermeta2EcoreAction"
               id="fr.irisa.triskell.kermeta.KMT2Ecore"/>
         
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.km"
            id="fr.irisa.triskell.kermeta.objectContribution1">
            
        <menu
	         id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
	         label="Kermeta"
	         path="additions">
      		<separator name="kermetagroup2"/>
      	</menu>
       <action
               enablesFor="1"
               label="Generate Kermeta Source (=&gt;kmt)"
               icon="images/kermeta.png"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1" 
               class="fr.irisa.triskell.kermeta.popup.actions.Km2kmtAction"
               id="fr.irisa.triskell.kermeta.KMT2KM"/>         
        <action
               enablesFor="1"
               label="Generate Ecore"
               icon="images/eclipse_ecore.gif"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1" 
               class="fr.irisa.triskell.kermeta.popup.actions.Kermeta2EcoreAction"
               id="fr.irisa.triskell.kermeta.KMT2Ecore"/>
   		
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="fr.irisa.triskell.kermeta.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
	         id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
	         label="Kermeta"
	         path="additions">
      		<separator name="kermetagroup2"/>
      	 </menu>
         <action
               class="fr.irisa.triskell.kermeta.builders.ToggleNatureAction"
               enablesFor="+"
               id="fr.irisa.triskell.kermeta.addRemoveNatureAction"
               label="Add/Remove Kermeta Nature"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1"/>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.ecore"
            id="fr.irisa.triskell.kermeta.contribution1">
         <menu
	         id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
	         label="KerMeta"
	         path="additions">
      		<separator name="kermetagroup1"/>
		</menu>
        <action
               enablesFor="1"
               label="Register EPackages into repository"
               icon="images/eclipse_ecore.gif"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1" 
               class="fr.irisa.triskell.kermeta.popup.actions.EcoreRegisteringAction"
               id="fr.irisa.triskell.kermeta.Ecore2KMT"/>
       <action
               enablesFor="*"
               label="Unregister EPackages from repository"
               icon="images/eclipse_ecore.gif"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1" 
               class="fr.irisa.triskell.kermeta.popup.actions.EcoreUnregisteringAction"
               id="fr.irisa.triskell.kermeta.EcoreMerge2Ecore"/>
       
      </objectContribution>
   </extension>
   <extension
         id="fr.irisa.triskell.kermeta.filetypes"
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            extension="kmt"
            type="text"/>
      <fileTypes
            extension="km"
            type="text"/>
      <fileTypes
            extension="ecore"
            type="text"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="fr.irisa.triskell.kermeta.language.behavior.BehaviorPackage"
            uri="http://kermeta_language_behavior/kermeta.ecore"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="fr.irisa.triskell.kermeta.language.structure.StructurePackage"
            uri="http://kermeta_language_structure/kermeta.ecore"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="fr.irisa.triskell.kermeta.compilationunit.CompilationunitPackage"
            uri="http://kermeta/compilationunit.ecore"/>
   </extension>
   <extension
         id="kermetaProjectBuilder"
         name="Kermeta Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run class="fr.irisa.triskell.kermeta.builders.KermetaProjectBuilder">
            <parameter
                  name="optimize"
                  value="true"/>
         </run>
      </builder>
   </extension>
   <extension
         id="runner.kermetanature"
         name="Kermeta Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="fr.irisa.triskell.kermeta.builders.KermetaNature"/>
      </runtime>
      <builder id="fr.irisa.triskell.kermeta.kermetaProjectBuilder"/>
   </extension>
   <extension
         id="kermetaProblem"
         name="KermetaL Problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="fr.irisa.triskell.kermeta.view.KermetaView"
            id="fr.irisa.triskell.kermeta.view1"
            name="Kermeta"/>
   </extension>

</plugin>
