<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="ConstraintLaunchConfiguration">
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_PROJECTNAME" value="fr.irisa.triskell.kermeta.samples.fsm.demo"/>
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_CLASSQNAME" value="fsm::Main"/>
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_FILENAME" value="\fr.irisa.triskell.kermeta.samples.fsm.demo\launcher\fsmLauncher.kmt"/>
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_ARGUMENTS" value="..\models\sample1postv.fsm"/>
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_OPERATIONNAME" value="mainloadFSM"/>
</launchConfiguration>
