<?xml version="1.0" encoding="utf-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>   
  <extension point="org.eclipse.help.toc">
  
	<toc file="mainToc.xml"/>
	<toc file="toc.xml" primary="false"/>
 	<toc
   		file="build/eclipse.help/KerMeta-The-FSM-example/toc.xml"
   		primary="false">
	</toc>
  </extension>
</plugin>
