<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2008-05-29 12:09:42 vmahe Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kermeta.org/kmLogo" 
       class = "fr.irisa.triskell.kmLogo.KmLogoPackage"
       genModel = "logo/1.MetaModel/ASMLogo.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kermeta.org/kmLogo/ASM" 
       class = "fr.irisa.triskell.kmLogo.ASM.ASMPackage"
       genModel = "logo/1.MetaModel/ASMLogo.genmodel" /> 
  </extension>

</plugin>

