<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2008-08-19 13:23:07 cfaucher Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/1_2_0//kermeta/kermeta_temp_uri"
            class="kermeta.KermetaPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/ecore/kermeta_temp_uri"
            class="kermeta.ecore.EcorePackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/io/kermeta_temp_uri"
            class="kermeta.io.IoPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/kunit/kermeta_temp_uri"
            class="kermeta.kunit.KunitPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/standard/kermeta_temp_uri"
            class="kermeta.standard.StandardPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/interpreter/kermeta_temp_uri"
            class="kermeta.interpreter.InterpreterPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/1_2_0//kermeta/language/kermeta_temp_uri"
            class="kermeta.language.LanguagePackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/1_2_0//kermeta/language/behavior/kermeta_temp_uri"
            class="kermeta.language.behavior.BehaviorPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/1_2_0//kermeta/language/structure/kermeta_temp_uri"
            class="kermeta.language.structure.StructurePackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/persistence/kermeta_temp_uri"
            class="kermeta.persistence.PersistencePackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/utils/kermeta_temp_uri"
            class="kermeta.utils.UtilsPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/exceptions/kermeta_temp_uri"
            class="kermeta.exceptions.ExceptionsPackage"/>
   </extension>

</plugin>
