<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="fr.irisa.triskell.kermeta.editorhelper.finder.FindPlugin"></startup>
   </extension>
   <extension-point id="emfSearch" name="emfSearch" schema="extension/emfSearch.exsd"/>

   <extension
         point="fr.irisa.triskell.kermeta.editorhelper.emfSearch">
      <editor id="fr.irisa.triskell.kermeta.presentation.KmEditorID">
         <Type
               displayedName="Package"
               name="fr.irisa.triskell.kermeta.language.structure.Package"/>
         <Type
               displayedName="Class Definition"
               name="fr.irisa.triskell.kermeta.language.structure.ClassDefinition"/>
      </editor>
      <editor id="org.eclipse.emf.ecore.presentation.EcoreEditorID">
         <Type
               displayedName="EClass"
               name="org.eclipse.emf.ecore.EClass"/>
         <Type
               displayedName="EPackage"
               name="org.eclipse.emf.ecore.Package"/>
      </editor>
   </extension>
</plugin>
