<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2008-02-04 10:40:24 ftanguy Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://interest" 
       class = "org.kermeta.model.interest.InterestPackage"
       genModel = "model/interest.genmodel" /> 
  </extension>

</plugin>
