<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="ocl"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.ocl"
            id="fr.irisa.triskell.ocl.contribution">
         <menu
               label="Kermeta"
               path="additions"
               id="org.eclipse.ui.articles.action.contribution.navigator.subMenu">
            <separator name="additions"/>
         </menu>
         <action
               class="fr.irisa.triskell.kermeta.ocl.ui.popup.actions.OCLParse"
               enablesFor="1"
               icon="icons/ocl_2_kermeta.png"
               id="fr.irisa.triskell.ocl.menu.action"
               label="Convert to Kermeta..."
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/Kermeta">
         </action>
      </objectContribution>
      <objectContribution
            id="fr.irisa.triskell.kermeta.ocl.objectContribution1"
            objectClass="org.eclipse.core.resources.IFolder">
                     <menu
               label="Kermeta"
               path="additions"
               id="org.eclipse.ui.articles.action.contribution.navigator.subMenu">
            <separator name="additions"/>
         </menu>
               <action
                     class="fr.irisa.triskell.kermeta.ocl.ui.popup.actions.GenerateKMTFilesFromOCLFilesAction"
                     enablesFor="1"
                     icon="icons/ocl_2_kermeta.png"
                     id="fr.irisa.triskell.kermeta.ocl.action1"
                     label="Generate KMT Files from OCL Files"
                     menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/Kermeta">
         </action>
      </objectContribution>
      
   </extension>

</plugin>
