<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "platform:/resource/fr.irisa.triskell.kermeta.samples.fsm/src/metamodels/fsm.ecore" 
       class = "fr.irisa.triskell.kermeta.samples.fsm.FsmPackage" />
  </extension>

</plugin>

