<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://kermeta/samples/fsm.ecore" 
       class = "fr.irisa.triskell.kermeta.samples.fsm.FsmPackage" />
  </extension>
  <extension
        point="org.eclipse.emf.ecore.extension_parser">
     <parser
           class="fr.irisa.triskell.kermeta.samples.fsm.util.FsmResourceFactoryImpl"
           type="fsm"/>
  </extension>

</plugin>

