<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.kompose"
            id="org.kermeta.kompose.specialization.ecore.contribution1">
         <menu
               label="Kompose"
               path="additions"
               id="org.kermeta.kompose.specialization.ecore.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compose Models (Ecore)"
               class="org.kermeta.kompose.specialization.ecore.popup.actions.Composer"
               menubarPath="org.kermeta.kompose.specialization.ecore.menu1/group1"
               enablesFor="1"
               id="org.kermeta.kompose.specialization.ecore.composer">
         </action>
      </objectContribution>
   </extension>
</plugin>
