<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/**
 * <copyright>
 * </copyright>
 *
 * $Id: plugin.xml,v 1.6 2006-09-01 09:32:53 dvojtise Exp $
 */
-->

<plugin
    name = "%pluginName"
    id = "fr.irisa.triskell.kermeta.model"
    version = "0.0.1"
    provider-name = "%providerName">

  <requires>
    <import plugin="org.eclipse.core.runtime" />
    <import plugin="org.eclipse.emf.ecore" export="true"/>
    <import plugin="org.eclipse.emf.ecore.xmi"/>
    <import plugin="org.eclipse.emf.common.ui"/>
  </requires>

  <runtime>
     <library name="dist/model_kermeta.jar">
        <export name="*"/>
     </library>
  </runtime>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://kermeta/kermeta.ecore" 
       class = "fr.irisa.triskell.kermeta.KmPackage"/> 
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://kermeta_behavior/kermeta.ecore" 
       class = "fr.irisa.triskell.kermeta.behavior.BehaviorPackage" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://kermeta_structure/kermeta.ecore" 
       class = "fr.irisa.triskell.kermeta.structure.StructurePackage" />
  </extension>

</plugin>

