<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/**
 * <copyright>
 * </copyright>
 *
 * $Id: plugin.xml,v 1.7 2006-09-13 17:03:22 cfaucher Exp $
 */
-->

<plugin
    name = "%pluginName"
    id = "fr.irisa.triskell.kermeta.model"
    version = "0.0.1"
    provider-name = "%providerName">

  <requires>
    <import plugin="org.eclipse.core.runtime" />
    <import plugin="org.eclipse.emf.ecore" export="true"/>
    <import plugin="org.eclipse.emf.ecore.xmi"/>
    <import plugin="org.eclipse.emf.common.ui"/>
  </requires>

  <runtime>
     <library name="dist/model_kermeta.jar">
        <export name="*"/>
     </library>
  </runtime>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://kermeta/kermeta.ecore" 
       class = "fr.irisa.triskell.kermeta.KmPackage"
       /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://kermeta/kermeta.ecore//language" 
       class = "fr.irisa.triskell.kermeta.language.LanguagePackage"
       /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://kermeta/kermeta.ecore//language/behavior" 
       class = "fr.irisa.triskell.kermeta.language.behavior.BehaviorPackage"
       /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://kermeta/kermeta.ecore//language/structure" 
       class = "fr.irisa.triskell.kermeta.language.structure.StructurePackage"
       /> 
  </extension>

</plugin>

