<?xml version="1.0" encoding="utf-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin name="Kermeta 2 documentation" id="org.kermeta.${project.artifactId}" version="${bundle.version}" provider-name="IRISA/INRIA">
   <requires>
      <import plugin="org.eclipse.help"/>
   </requires>
  <extension point="org.eclipse.help.toc">
	<toc file="toc.xml" primary="true"/>
    <toc file="Kermeta-Manual.docb/toc.xml" />
    <!--<toc file="build/eclipse.help/KermetaArchitectureGuide/toc.xml" />-->
    <!--<toc file="build/eclipse.help/KerMeta-MetaModel/toc.xml" />-->
  </extension>
  
   <extension point="org.eclipse.help.index">
      <index file="Kermeta-Manual.docb/index.xml"/>
   </extension>
</plugin>
