<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.kermeta.language.builder.eclipse.muLoaders">
	      <factory
            factory="org.kermeta.language.qvtop2km.api.QvtLoaderFactory">
         <fileExtension
               fileExtension=".qvtoperational"></fileExtension>
      </factory>
	</extension>
</plugin>
