<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.kermeta.structurecompiler.compiled/src/kermeta/compiler/runner/Main__main_km2ecore_behaviorJava__Runner.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="kermeta.compiler.runner.Main__main_km2ecore_behaviorJava__Runner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="platform:/resource/org.kermeta.compiler.kmt/models/compilertest.km"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.kermeta.structurecompiler.compiled"/>
</launchConfiguration>
