<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2008-07-02 09:43:44 ftanguy Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kermeta.org/kermeta/1_2_0//kermeta" 
       class = "kermeta.KermetaPackage"
       genModel = "model/framework.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kermeta.org/kermeta/kunit" 
       class = "kermeta.kunit.KunitPackage"
       genModel = "model/framework.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kermeta.org/kermeta/utils" 
       class = "kermeta.utils.UtilsPackage"
       genModel = "model/framework.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kermeta.org/kermeta/persistence" 
       class = "kermeta.persistence.PersistencePackage"
       genModel = "model/framework.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kermeta.org/kermeta/standard" 
       class = "kermeta.standard.StandardPackage"
       genModel = "model/framework.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kermeta.org/kermeta/1_2_0//kermeta/language" 
       class = "kermeta.language.LanguagePackage"
       genModel = "model/framework.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kermeta.org/kermeta/1_2_0//kermeta/language/behavior" 
       class = "kermeta.language.behavior.BehaviorPackage"
       genModel = "model/framework.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kermeta.org/kermeta/1_2_0//kermeta/language/structure" 
       class = "kermeta.language.structure.StructurePackage"
       genModel = "model/framework.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kermeta.org/kermeta/io" 
       class = "kermeta.io.IoPackage"
       genModel = "model/framework.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kermeta.org/kermeta/exceptions" 
       class = "kermeta.exceptions.ExceptionsPackage"
       genModel = "model/framework.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kermeta.org/kermeta/ecore" 
       class = "kermeta.ecore.EcorePackage"
       genModel = "model/framework.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kermeta.org/kermeta/interpreter" 
       class = "kermeta.interpreter.InterpreterPackage"
       genModel = "model/framework.genmodel" /> 
  </extension>

</plugin>
