<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2008-05-28 12:49:10 vmahe Exp $
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.openembedd.logo.csm.logoCSM.presentation.LogoCSMModelWizardID"
      name = "%_UI_LogoCSMModelWizard_label"
      class = "org.openembedd.logo.csm.logoCSM.presentation.LogoCSMModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/LogoCSMModelFile.gif">
      <description>%_UI_LogoCSMModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.openembedd.logo.csm.logoCSM.presentation.LogoCSMEditorID"
        name = "%_UI_LogoCSMEditor_label"
        icon = "icons/full/obj16/LogoCSMModelFile.gif"
        extensions = "logocsm"
        class = "org.openembedd.logo.csm.logoCSM.presentation.LogoCSMEditor" 
        contributorClass="org.openembedd.logo.csm.logoCSM.presentation.LogoCSMActionBarContributor" >
    </editor>
  </extension>    
</plugin>
