<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="org.kermeta.ki.task.presentation.TaskModelWizardID"
            name="Task Model Editor"
            class="org.kermeta.ki.task.presentation.TaskModelWizard"
            category="org.kermeta.ki"
            icon="icons/full/obj16/TaskModelFile.gif">
         <description>%_UI_TaskModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
      <category
            id="org.kermeta.ki"
            name="Ki">
      </category>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.kermeta.ki.task.presentation.TaskEditorID"
            name="%_UI_TaskEditor_label"
            icon="icons/full/obj16/TaskModelFile.gif"
            extensions="task"
            class="org.kermeta.ki.task.presentation.TaskEditor"
            contributorClass="org.kermeta.ki.task.presentation.TaskActionBarContributor">
      </editor>
   </extension>

</plugin>
