<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="kompose.KomposePackage"
            genModel="model/kompose.genmodel"
            uri="http://www.kermeta.org/kompose">
      </package>
   </extension>
   <!--<extension
         point="org.eclipse.ui.startup">
      <startup
            class="kompose.startup.RegisterStartup">
      </startup>
   </extension>-->

</plugin>
