<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.15 2007-05-02 12:54:42 dvojtise Exp $
-->

<plugin>
   <extension-point id="actions" name="KPMAction" schema="extension/actions.exsd"/>
   <extension-point id="registeredFile" name="RegisteredFile" schema="extension/registeredFile.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://kpm" 
       class = "fr.irisa.triskell.kermeta.kpm.KpmPackage"
       genModel = "model/kpm.genmodel" /> 
  </extension>
<!--  <extension
        id="kermetaProjectBuilder"
        point="org.eclipse.core.resources.builders">
     <builder>
        <run class="fr.irisa.triskell.kermeta.kpm.builder.KermetaProjectBuilder"/>
     </builder>
  </extension>-->
  <extension
        point="org.eclipse.ui.startup">
     <startup class="fr.irisa.triskell.kermeta.kpm.plugin.KPMStartup"/>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="fr.irisa.triskell.kermeta.ui.preferences.KermetaPreferencePage"
           class="fr.irisa.triskell.kermeta.kpm.preferences.KPMPreferencePage"
           id="fr.irisa.triskell.kermeta.kpm.preferencePage"
           name="KPM"/>
  </extension>
  <extension
        point="org.eclipse.ui.propertyPages">
     <page
           class="fr.irisa.triskell.kermeta.kpm.properties.KPMPropertyPage"
           id="fr.irisa.triskell.kermeta.kpm.page1"
           name="Kermeta"
           objectClass="org.eclipse.core.resources.IProject">
        <filter
         	name="projectNature"
         	value="fr.irisa.triskell.kermeta.KermetaNature">
      	</filter>
     </page>
  </extension>



</plugin>

