<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.13 2007-04-04 13:43:55 ftanguy Exp $
-->

<plugin>
   <extension-point id="actions" name="KPMAction" schema="extension/actions.exsd"/>
   <extension-point id="registeredFile" name="RegisteredFile" schema="extension/registeredFile.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://kpm" 
       class = "fr.irisa.triskell.kermeta.kpm.KpmPackage"
       genModel = "model/kpm.genmodel" /> 
  </extension>
<!--  <extension
        id="kermetaProjectBuilder"
        point="org.eclipse.core.resources.builders">
     <builder>
        <run class="fr.irisa.triskell.kermeta.kpm.builder.KermetaProjectBuilder"/>
     </builder>
  </extension>-->
  <extension
        point="org.eclipse.ui.startup">
     <startup class="fr.irisa.triskell.kermeta.kpm.plugin.KPMStartup"/>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="fr.irisa.triskell.kermeta.ui.preferences.KermetaPreferencePage"
           class="fr.irisa.triskell.kermeta.kpm.preferences.KPMPreferencePage"
           id="fr.irisa.triskell.kermeta.kpm.preferencePage"
           name="KPM"/>
  </extension>



</plugin>

