<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.9 2007-04-04 13:47:16 ftanguy Exp $
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <wizard
          category="fr.irisa.triskell.kermeta.KermetaWizard"
          class="fr.irisa.triskell.kermeta.presentation.KmModelWizard"
          finalPerspective="kermetaPerspective"
          icon="icons/full/obj16/KmModelFile.gif"
          id="fr.irisa.triskell.kermeta.presentation.KmModelWizardID"
          name="New Km Model file"
          preferredPerspectives="org.eclipse.ui.resourcePerspective"
          >
      <description>%_UI_KmModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "fr.irisa.triskell.kermeta.presentation.KmEditorID"
        name = "%_UI_KmEditor_label"
        icon = "icons/full/obj16/KmModelFile.gif"
        extensions = "km"
        class = "fr.irisa.triskell.kermeta.presentation.KmEditor" 
        contributorClass="fr.irisa.triskell.kermeta.presentation.KmActionBarContributor" >
    </editor>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension targetID="fr.irisa.triskell.kermeta.ui.perspective">
        <newWizardShortcut id="fr.irisa.triskell.kermeta.presentation.KmModelWizardID"/>
     </perspectiveExtension>
  </extension>    

<!--
  <extension
    point = "org.eclipse.ui.newWizards">
    <category
          id="org.eclipse.emf.ecore.Wizard.category.ID"
          name="%_UI_Wizard_category"/>
    <wizard
      id = "fr.irisa.triskell.kermeta.language.presentation.LanguageModelWizardID"
      name = "%_UI_LanguageModelWizard_label"
      class = "fr.irisa.triskell.kermeta.language.presentation.LanguageModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/LanguageModelFile.gif">
      <description>%_UI_LanguageModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "fr.irisa.triskell.kermeta.language.presentation.LanguageEditorID"
        name = "%_UI_LanguageEditor_label"
        icon = "icons/full/obj16/LanguageModelFile.gif"
        extensions = "language"
        class = "fr.irisa.triskell.kermeta.language.presentation.LanguageEditor" 
        contributorClass="fr.irisa.triskell.kermeta.language.presentation.LanguageActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "fr.irisa.triskell.kermeta.language.behavior.presentation.BehaviorModelWizardID"
      name = "%_UI_BehaviorModelWizard_label"
      class = "fr.irisa.triskell.kermeta.language.behavior.presentation.BehaviorModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/BehaviorModelFile.gif">
      <description>%_UI_BehaviorModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "fr.irisa.triskell.kermeta.language.behavior.presentation.BehaviorEditorID"
        name = "%_UI_BehaviorEditor_label"
        icon = "icons/full/obj16/BehaviorModelFile.gif"
        extensions = "behavior"
        class = "fr.irisa.triskell.kermeta.language.behavior.presentation.BehaviorEditor" 
        contributorClass="fr.irisa.triskell.kermeta.language.behavior.presentation.BehaviorActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "fr.irisa.triskell.kermeta.language.structure.presentation.StructureModelWizardID"
      name = "%_UI_StructureModelWizard_label"
      class = "fr.irisa.triskell.kermeta.language.structure.presentation.StructureModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/StructureModelFile.gif">
      <description>%_UI_StructureModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "fr.irisa.triskell.kermeta.language.structure.presentation.StructureEditorID"
        name = "%_UI_StructureEditor_label"
        icon = "icons/full/obj16/StructureModelFile.gif"
        extensions = "structure"
        class = "fr.irisa.triskell.kermeta.language.structure.presentation.StructureEditor" 
        contributorClass="fr.irisa.triskell.kermeta.language.structure.presentation.StructureActionBarContributor" >
    </editor>
  </extension>
  <extension
        name="%_UI_KmEditor_label"
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension targetID="kermetaPerspective">
        <newWizardShortcut id="fr.irisa.triskell.kermeta.presentation.KmModelWizardID"/>
     </perspectiveExtension>
  </extension>
  -->    
</plugin>
