<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.popupMenus">
	     <objectContribution
            adaptable="true"
            id="KermetaPopupID"
            nameFilter="*.kp"
            objectClass="org.eclipse.core.resources.IFile">
	        <menu
	              icon="platform:/plugin/org.kermeta.kp.launcher.eclipse/icons/kermeta.gif"
	              id="org.kermeta.language.ui.menu"
	              label="Kermeta 2"
	              path="additions">
	           <separator name="kermetagroup1"/>
	           <separator name="kermetagroup2"/>
	           <separator name="kermetagroup3"/>
	        </menu>
	       <action
	             class="org.kermeta.kp.launcher.eclipse.internal.BuildKP"
	             id="org.kermeta.kp.launcher.eclipse.internal.BuildKPID"
	             icon="platform:/plugin/org.kermeta.kp.launcher.eclipse/icons/kermeta.gif"
	             label="Build Kermeta Project"
	             menubarPath="org.kermeta.language.ui.menu/kermetagroup1">
	       </action>
	       <action
	             class="org.kermeta.kp.launcher.eclipse.internal.CleanBuildKP"
	             id="org.kermeta.kp.launcher.eclipse.internal.CleanBuildKPID"
	             icon="platform:/plugin/org.kermeta.kp.launcher.eclipse/icons/kermeta.gif"
	             label="Clean and Build Kermeta Project"
	             menubarPath="org.kermeta.language.ui.menu/kermetagroup1">
	       </action>
        <visibility>
         <and>
		   <objectState name="projectNature" value="org.kermeta.language.texteditor.eclipse.nature.KermetaNatureID"/>
           <objectClass name="org.eclipse.core.resources.IFile" />
          </and>
         </visibility>
	     </objectContribution>
	</extension>


	<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.kermeta.kp.launcher.eclipse.internal.KermetaLauncher"
            id="org.kermeta.kp.launcher.eclipse.internal.KermetaLauncherID"
            modes="run"
            name="Kermeta Application"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
        icon="icons/kermeta.gif"
        configTypeID="org.kermeta.kp.launcher.eclipse.internal.KermetaLauncherID"
        id="org.kermeta.kp.launcher.eclipse.internal.KermetaLauncherImageID">
    </launchConfigurationTypeImage>
	</extension>
	   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	    <launchConfigurationTabGroup
	        type="org.kermeta.kp.launcher.eclipse.internal.KermetaLauncherID"
	        class="org.kermeta.kp.launcher.eclipse.internal.KermetaTabGroup"
	        id="org.kermeta.kp.launcher.eclipse.internal.KermetaTabGroupID">
	    </launchConfigurationTabGroup>
	</extension>
	<extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.kermeta.kp.launcher.eclipse.internal.RunKLaunchShortcut"
            icon="icons/kermeta.gif"
            id="org.kermeta.kp.launcher.eclipse.kermetaApplication"
            label="Kermeta Application"
            modes="run, debug">
         <configurationType
               id="org.kermeta.kp.launcher.eclipse.internal.KermetaLauncherID">
         </configurationType>
         <contextualLaunch>
            <enablement>
               <count
                     value="1">
               </count>
               <iterate
                     operator="or">
                  <or>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.kmt">
                     </test>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.kp">
                     </test>
                  </or>
               </iterate>
            </enablement>
            <contextLabel
                  label="Run as Kermeta Application"
                  mode="run">
            </contextLabel>
            <contextLabel
                  label="Debug as Kermeta Application"
                  mode="debug">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
   </extension>
</plugin>
