<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.kermeta.art.runtime2sca.ui.contribution1">
         <menu
               label="Model@Runtime"
               path="additions"
               id="org.kermeta.art.runtime2sca.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Generate SCA model"
               class="org.kermeta.art.runtime2sca.ui.popup.actions.Runtime2SCAAction"
               menubarPath="org.kermeta.art.runtime2sca.ui.menu1/group1"
               enablesFor="1"
               id="org.kermeta.art.runtime2sca.ui.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
