<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="kermeta.helloWorld"
         point="fr.irisa.triskell.kermeta.kpm.kermetaAction">
      <Action
            File="src/kermeta/printerApplication.kmt">
      </Action>
   </extension>
 <!--  <extension
         id="executeAnt"
         point="fr.irisa.triskell.kermeta.kpm.javaAction">
      <Action
            class="fr.irisa.triskell.kermeta.kpm.actions.ant.ExecuteAntAction">
      </Action>
   </extension>-->
   <extension
         id="finalizeUpdate"
         point="fr.irisa.triskell.kermeta.kpm.javaAction">
      <Action
            class="org.kermeta.kpm.updating.UnloadContext"
            id="org.kermeta.kpm.actions.unloadcontext">
      </Action>
      <Action
            class="org.kermeta.kpm.updating.LoadingContextKPMAction"
            id="org.kermeta.kpm.actions.loadcontext">
      </Action>
      <Action
            class="org.kermeta.kpm.updating.TypecheckContext"
            id="org.kermeta.kpm.actions.typecheckcontext">
      </Action>
      <Action
            class="org.kermeta.kpm.updating.RemoveDependencies"
            id="org.kermeta.kpm.actions.removedependencies">
      </Action>
      <Action
            class="org.kermeta.kpm.updating.CreateDependencies"
            id="org.kermeta.kpm.actions.createdependencies">
      </Action>
      <Action
            class="org.kermeta.kpm.updating.AddMarkers"
            id="org.kermeta.kpm.actions.addmarkers">
      </Action>
      <Action
            class="org.kermeta.kpm.updating.FinalizeUpdate"
            id="org.kermeta.kpm.actions.finalizeUpdate">
      </Action>
   </extension>

</plugin>
