<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="openProject"
         point="fr.irisa.triskell.kermeta.kpm.javaAction">
      <Action class="fr.irisa.triskell.kermeta.kpm.actions.open.OpenProject"/>
   </extension>
   <extension
         id="addMarkers"
         point="fr.irisa.triskell.kermeta.kpm.javaAction">
      <Action class="fr.irisa.triskell.kermeta.kpm.actions.marker.AddMarkers"/>
   </extension>
   <extension
         id="typecheck"
         point="fr.irisa.triskell.kermeta.kpm.javaAction">
      <Action class="fr.irisa.triskell.kermeta.kpm.actions.typecheck.Typecheck"/>
   </extension>
   <extension
         id="createDependentDependencies"
         point="fr.irisa.triskell.kermeta.kpm.javaAction">
      <Action class="fr.irisa.triskell.kermeta.kpm.actions.dependents.CreateDependentDependencies"/>
   </extension>
   <extension
         id="removeDependentDependencies"
         point="fr.irisa.triskell.kermeta.kpm.javaAction">
      <Action class="fr.irisa.triskell.kermeta.kpm.actions.dependents.RemoveDependentDependencies"/>
   </extension>
   <extension
         id="kmt2km"
         point="fr.irisa.triskell.kermeta.kpm.javaAction">
      <Action class="fr.irisa.triskell.kermeta.kpm.actions.transformation.KMT2KM"/>
   </extension>
   <extension
         id="constraintCheck"
         point="fr.irisa.triskell.kermeta.kpm.javaAction">
      <Action class="fr.irisa.triskell.kermeta.kpm.actions.typecheck.ConstraintCheck"/>
   </extension>
   <extension
         id="ecore2kmt"
         point="fr.irisa.triskell.kermeta.kpm.javaAction">
      <Action class="fr.irisa.triskell.kermeta.kpm.actions.transformation.Ecore2KMT"/>
   </extension>
   <extension
         id="kermeta.helloWorld"
         point="fr.irisa.triskell.kermeta.kpm.kermetaAction">
      <Action
            File="src/kermeta/printerApplication.kmt">
      </Action>
   </extension>

</plugin>
