<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.kermeta.kompose.ui.contribution1"
            nameFilter="*.kompt"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.kermeta.kompose.ui.menu1"
               label="Kompose"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.kermeta.kompose.ui.popup.actions.ParseKompose"
               enablesFor="1"
               id="org.kermeta.kompose.ui.newAction"
               label="Parse Kompose File"
               menubarPath="org.kermeta.kompose.ui.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
