<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.kermeta.utils.console.eclipse.console.ConsoleFactory"
            label="Kermeta Console">
      </consoleFactory>
   </extension>

</plugin>
