<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.kermeta.kompose.specialization.samples.category1"
            name="Kompose specialization examples"
            parentCategory="org.eclipse.ui.Examples"/>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.kermeta.kompose.specialization.samples.category1"
            class="org.kermeta.kompose.specialization.samples.EcoreSample"
            hasPages="false"
            id="org.kermeta.kompose.specialization.samples.wizard1"
            name="Ecore specialization sample"/>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.kermeta.kompose.specialization.samples.category1"
            class="org.kermeta.kompose.specialization.samples.RdbsSample"
            hasPages="false"
            id="org.kermeta.kompose.specialization.samples.wizard2"
            name="RdbSchema specialization sample"/>
   </extension>

</plugin>
