<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 License: EPL
 Copyright: IRISA / INRIA / Universite de Rennes 1
 
 Generating with Kermeta <http://www.kermeta.org>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/1_2_0//kermeta/kermeta_temp_uri"
            class="kermeta.KermetaPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/1_2_0//kermeta/standard/kermeta_temp_uri"
            class="kermeta.standard.StandardPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/1_2_0//kermeta/utils/kermeta_temp_uri"
            class="kermeta.utils.UtilsPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/1_2_0//kermeta/language/kermeta_temp_uri"
            class="kermeta.language.LanguagePackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/1_2_0//kermeta/language/structure/kermeta_temp_uri"
            class="kermeta.language.structure.StructurePackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/1_2_0//kermeta/language/behavior/kermeta_temp_uri"
            class="kermeta.language.behavior.BehaviorPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/1_2_0//kermeta/kunit/kermeta_temp_uri"
            class="kermeta.kunit.KunitPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/1_2_0//kermeta/exceptions/kermeta_temp_uri"
            class="kermeta.exceptions.ExceptionsPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/1_2_0//kermeta/io/kermeta_temp_uri"
            class="kermeta.io.IoPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/1_2_0//kermeta/persistence/kermeta_temp_uri"
            class="kermeta.persistence.PersistencePackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/1_2_0//kermeta/ecore/kermeta_temp_uri"
            class="kermeta.ecore.EcorePackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/kermeta/1_2_0//kermeta/interpreter/kermeta_temp_uri"
            class="kermeta.interpreter.InterpreterPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/runtime2SCA/kermeta_temp_uri"
            class="runtime2SCA.Runtime2SCAPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://art/kermeta_temp_uri"
            class="art.ArtPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://art/instance/kermeta_temp_uri"
            class="art.instance.InstancePackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://art/type/kermeta_temp_uri"
            class="art.type.TypePackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://art/implem/kermeta_temp_uri"
            class="art.implem.ImplemPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.kermeta.org/sca/kermeta_temp_uri"
            class="sca.ScaPackage"/>
   </extension>

</plugin>
