<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.smartadapters.core.resource.smARText.mopp.SmARTextMetaInformation" id="org.smartadapters.core.resource.smARText.mopp.SmARTextMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.smartadapters.core.resource.smARText.ui.SmARTextEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="smARText" icon="icons/editor_icon.gif" id="org.smartadapters.core.resource.smARText.ui.SmARTextEditor" name="EMFText smARText Editor">
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.smartadapters.core.resource.smARText.ui.SmARTextPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="SmARText Text Editor" id="org.smartadapters.core.resource.smARText.ui.SmARTextPreferencePage" class="org.smartadapters.core.resource.smARText.ui.SmARTextPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.smartadapters.core.resource.smARText.ui.SmARTextSyntaxColoringPreferencePage" class="org.smartadapters.core.resource.smARText.ui.SmARTextSyntaxColoringPreferencePage" category="org.smartadapters.core.resource.smARText.ui.SmARTextPreferencePage">
		</page>
		<page name="Brackets" id="org.smartadapters.core.resource.smARText.ui.SmARTextBracketPreferencePage" class="org.smartadapters.core.resource.smARText.ui.SmARTextBracketPreferencePage" category="org.smartadapters.core.resource.smARText.ui.SmARTextPreferencePage">
		</page>
		<page name="Occurrence" id="org.smartadapters.core.resource.smARText.ui.SmARTextOccurrencePreferencePage" class="org.smartadapters.core.resource.smARText.ui.SmARTextOccurrencePreferencePage" category="org.smartadapters.core.resource.smARText.ui.SmARTextPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.smartadapters.core.resource.smARText.ui.SmARTextNewFileWizard" id="org.smartadapters.core.resource.smARText.ui.SmARTextNewFileWizard" name="EMFText .smARText file">
		</wizard>
	</extension>
	
	<extension id="org.smartadapters.core.resource.smARText.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension id="org.smartadapters.core.resource.smARText.nature" name="smARText nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.smartadapters.core.resource.smARText.mopp.SmARTextNature" />
		</runtime>
		<builder id="org.smartadapters.core.resource.smARText.builder" />
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.smartadapters.core.resource.smARText.builder" name="smARText Builder">
		<builder hasNature="true">
			<run class="org.smartadapters.core.resource.smARText.mopp.SmARTextBuilderAdapter" />
		</builder>
	</extension>
	
	<extension-point id="org.smartadapters.core.resource.smARText.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.smartadapters.core.resource.smARText.mopp.SmARTextResourceFactoryDelegator" type="smARText">
		</parser>
	</extension>
	
	<extension-point id="org.smartadapters.core.resource.smARText.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
