<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="compilertestlauncher"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="fr.irisa.triskell.kermeta.launcher.CompilerTestLauncher">
         </run>
      </application>
   </extension>

</plugin>
