<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 INRIA/IRISA
 Triskell Team
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.org.kermeta.kompren/org/kermeta/kompren/slicer"
            class="org2.kermeta.kompren.slicer.SlicerPackage"/>
   </extension>

</plugin>
