<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
   <extension
         id="kmtt"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.kmtt"
            id="fr.irisa.triskell.kermeta.ket.contribution">
         <menu
               label="KerMeta"
               path="additions"
               id="org.eclipse.ui.articles.action.contribution.navigator.subMenu">
            <separator name="additions"/>
         </menu>
         <action
               label="Translate Kermeta Template..."
               class="fr.irisa.triskell.kermeta.ket.Generator"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/Kermeta"
               enablesFor="1"
               id="fr.irisa.triskell.kermeta.ket.menu.action">
         </action>
      </objectContribution>
      
   </extension>
</plugin>
