<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
   <extension
         id="ket"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.ket"
            id="fr.irisa.triskell.kermeta.ket.contribution">
         <menu
               label="Kermeta"
               path="additions"
               id="org.eclipse.ui.articles.action.contribution.navigator.subMenu">
            <separator name="additions"/>
         </menu>
         <action
               label="Translate Kermeta Template"
               class="fr.irisa.triskell.kermeta.ket.Generator"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/Kermeta"
               enablesFor="+"
               id="fr.irisa.triskell.kermeta.ket.menu.action">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="fr.irisa.triskell.kermeta.kpm.javaAction">
      <Action
            class="fr.irisa.triskell.kermeta.ket.kpm.actions.Ket2Kmt"
            id="org.kermeta.ket.ket2kmt"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="fr.irisa.triskell.kermeta.KermetaWizard"
            class="fr.irisa.triskell.kermeta.ket.wizard.NewKETFileWizard"
            finalPerspective="kermetaPerspective"
            icon="icons/ket.png"
            id="org.kermeta.wizard.newKETFile"
            name="New KET File"
            preferredPerspectives="kermetaPerspective"
            project="false">
         <description>
            Create a new KET File with a default content.
         </description>
         <selection
               class="org.eclipse.core.resources.IFolder">
         </selection>
         <selection
               class="org.eclipse.core.resources.IProject">
         </selection>
         <selection
               class="org.eclipse.core.resources.IFile">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="fr.irisa.triskell.kermeta.ui.perspective">
         <newWizardShortcut
               id="org.kermeta.wizard.newKETFile">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   
</plugin>
