<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.kermeta.compiler.compileecorecontribution"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
               label="Kermeta"
               path="additions">
            <separator name="kermetagroup1"/>
         </menu>
         <action
               class="org.kermeta.compiler.ui.popup.actions.CompileEcoreAction"
               enablesFor="1"
               icon="icons/etools_persp.gif"
               id="fr.irisa.triskell.kermeta.compiler.CompileEcoreAction"
               label="Compile Ecore to Java EMF plugin (experimental)"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1"/>
      </objectContribution>
      <objectContribution
            id="org.kermeta.compiler.compilekmtcontribution"
            nameFilter="*.kmt"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
               label="Kermeta"
               path="additions">
            <separator name="kermetagroup1"/>
         </menu>
         <action
               class="org.kermeta.compiler.ui.popup.actions.CompileKermetaAction"
               enablesFor="1"
               icon="icons/etools_persp.gif"
               id="fr.irisa.triskell.kermeta.compiler.CompileKmtAction"
               label="Compile Kmt to Java EMF plugin (experimental)"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1"/>
      </objectContribution>
      <objectContribution
            id="org.kermeta.compiler.compilekmt2ecorecontribution"
            nameFilter="*.kmt"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
               label="Kermeta"
               path="additions">
            <separator name="kermetagroup1"/>
         </menu>
        <menu
               id="org.kermeta.advanced.subsubmenu"
               label="Kermeta advanced"
               path="org.eclipse.ui.articles.action.contribution.navigator.subMenu/additions">
            <separator name="kermetagroup1"/>
         </menu>
         <action
               class="org.kermeta.compiler.ui.popup.actions.CompileKermeta2EcoreAction"
               enablesFor="1"
               icon="icons/etools_persp.gif"
               id="fr.irisa.triskell.kermeta.compiler.CompileKermeta2EcoreAction"
               label="Generate Ecore for compilation (experimental)"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/org.kermeta.advanced.subsubmenu/kermetagroup1"/>
      </objectContribution>
      <objectContribution
            id="org.kermeta.compiler.merge"
            nameFilter="*.kmt"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
               label="Kermeta"
               path="additions">
            <separator name="kermetagroup1"/>
         </menu>
        <menu
               id="org.kermeta.advanced.subsubmenu"
               label="Kermeta advanced"
               path="org.eclipse.ui.articles.action.contribution.navigator.subMenu/additions">
            <separator name="kermetagroup1"/>
         </menu>
         <action
               class="org.kermeta.compiler.ui.popup.actions.MergeAction"
               enablesFor="1"
               icon="icons/etools_persp.gif"
               id="fr.irisa.triskell.kermeta.compiler.MergeKm4CompilerAction"
               label="Generate Km merged for compilation (experimental)"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/org.kermeta.advanced.subsubmenu/kermetagroup1">
         </action>
         <action
               class="org.kermeta.compiler.ui.popup.actions.InitializePropertiesFile"
               enablesFor="1"
               icon="icons/etools_persp.gif"
               id="org.kermeta.compiler.InitializePropertiesFile"
               label="Generate the properties file for customizing the compilation"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/org.kermeta.advanced.subsubmenu/kermetagroup1">
         </action>
      </objectContribution>
      <objectContribution
            id="org.kermeta.compiler.compilekm2ecorecontribution"
            nameFilter="*.km"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
               label="Kermeta"
               path="additions">
            <separator
                  name="kermetagroup1">
            </separator>
         </menu>
         <menu
               id="org.kermeta.advanced.subsubmenu"
               label="Kermeta advanced"
               path="org.eclipse.ui.articles.action.contribution.navigator.subMenu/additions">
            <separator
                  name="kermetagroup1">
            </separator>
         </menu>
         <action
               class="org.kermeta.compiler.ui.popup.actions.CompileKM2EcoreAction"
               enablesFor="1"
               icon="icons/etools_persp.gif"
               id="fr.irisa.triskell.kermeta.compiler.CompileKermeta2EcoreAction"
               label="Generate Ecore for compilation (experimental)"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/org.kermeta.advanced.subsubmenu/kermetagroup1">
         </action>
      </objectContribution>
   </extension>
   
</plugin>
