<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="true"
           id="fr.irisa.triskell.kermeta.addRemoveNatureAction"
           objectClass="org.eclipse.core.resources.IProject">
        <menu
              id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
              label="Kermeta"
              path="additions">
           <separator name="kermetagroup2"/>
        </menu>
       <action
              class="fr.irisa.triskell.kermeta.actions.ToggleNatureAction"
              id="fr.irisa.triskell.kermeta.addRemoveNatureAction"
              label="Add/Remove Kermeta Nature"
              menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1"/>
     </objectContribution>
     <objectContribution
           adaptable="false"
           id="fr.irisa.triskell.kermeta.ui.viewFileDependencies"
           nameFilter="*.kmt"
           objectClass="org.eclipse.core.resources.IFile">
        <action
              class="fr.irisa.triskell.kermeta.actions.ShowFileDependencies"
              enablesFor="1"
              icon="images/down.png"
              id="fr.irisa.triskell.kermeta.ui.action2"
              label="See File Dependencies"
              menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1"/>
     </objectContribution>
     <objectContribution
           adaptable="false"
           id="fr.irisa.triskell.kermeta.ui.viewDependentFiles"
           nameFilter="*.kmt"
           objectClass="org.eclipse.core.resources.IFile">
        <action
              class="fr.irisa.triskell.kermeta.actions.ShowDependentFiles"
              enablesFor="1"
              icon="images/up.png"
              id="fr.irisa.triskell.kermeta.ui.action3"
              label="See Dependent Files"
              menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/kermetagroup1"/>
     </objectContribution>
  </extension>
  
    <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="fr.irisa.triskell.kermeta.KermetaWizard"
           name="Kermeta"/>
     <wizard
           category="fr.irisa.triskell.kermeta.KermetaWizard"
           class="fr.irisa.triskell.kermeta.wizards.NewKermetaProjectWizard"
           descriptionImage="images/tree_package.gif"
           finalPerspective="kermetaPerspective"
           icon="images/new_kermeta_project.gif"
           id="fr.irisa.triskell.kermeta.ui.wizards.newProject"
           name="New Kermeta Project"
           project="true">
        <selection class="org.eclipse.core.resources.IProject"/>
        <description>
           Create a new Kermeta project
        </description>
     </wizard>
      <wizard
            category="fr.irisa.triskell.kermeta.KermetaWizard"
            class="fr.irisa.triskell.kermeta.wizards.KermetaNewFileWizard"
            descriptionImage="images/kermeta.png"
            finalPerspective="kermetaPerspective"
            icon="images/newkermetafile.png"
            id="fr.irisa.triskell.kermeta.runner.wizards.kermetaNewFileWizard"
            name="New Kermeta file"
            project="false">
            <selection class="org.eclipse.core.resources.IProject"/>
            <selection class="org.eclipse.core.resources.IFolder"/>
            <selection class="org.eclipse.core.resources.IFile"/>
            <description>
               Create a new Kermeta text file
            </description>
        </wizard>
  </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="fr.irisa.triskell.kermeta.ui.preferences.KermetaPreferencePage"
             id="fr.irisa.triskell.kermeta.ui.preferences.KermetaPreferencePage"
             name="Kermeta"/>
       <page
             category="fr.irisa.triskell.kermeta.ui.preferences.KermetaPreferencePage"
             class="org.kermeta.kmttemplate.preferences.KMTTemplatePreferencePage"
             id="fr.irisa.triskell.kermeta.texteditor.preferences.KMTTemplatePreferencePage"
             name="Template for new KMT files">
       </page>
    </extension>
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension targetID="fr.irisa.triskell.kermeta.ui.perspective">
          <newWizardShortcut id="fr.irisa.triskell.kermeta.ui.wizards.newProject"/>
          <newWizardShortcut id="fr.irisa.triskell.kermeta.runner.wizards.kermetaNewFileWizard"/>
          <newWizardShortcut id="fr.irisa.triskell.kermeta.graphicaleditor.wizards.NewKmDiagrams"/>
          <newWizardShortcut id="fr.irisa.triskell.kermeta.presentation.KmModelWizardID"/>
          <newWizardShortcut id="org.eclipse.ui.wizards.new.folder"/>
          <newWizardShortcut id="org.eclipse.ui.wizards.new.file"/>
          <actionSet
                id="org.kermeta.ui.actionSet">
          </actionSet>
       </perspectiveExtension>
    </extension>
    <extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="fr.irisa.triskell.kermeta.ui.perspective.KermetaPerspective"
             icon="images/kermeta_logo_32.gif"
             id="fr.irisa.triskell.kermeta.ui.perspective"
             name="Kermeta"/>
    </extension>
    <extension
          point="org.eclipse.ui.viewActions">
       <viewContribution
             id="fr.irisa.triskell.kermeta.ui.viewContribution1"
             targetID="org.eclipse.ui.views.ResourceNavigator">
          <action
                class="fr.irisa.triskell.kermeta.actions.FreeMemory"
                id="fr.irisa.triskell.kermeta.ui.action1"
                label="Free Memory"
                menubarPath="additions"
                style="push"
                toolbarPath="additions"/>
       </viewContribution>
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <category
            name="Kermeta"
            id="fr.irisa.triskell.kermeta.view">
       </category>
       <view
             allowMultiple="true"
             category="fr.irisa.triskell.kermeta.view"
             class="fr.irisa.triskell.kermeta.ui.views.FileDependenciesViewPart"
             icon="images/down.png"
             id="fr.irisa.triskell.kermeta.ui.views.fileDependencies"
             name="File Dependencies"/>
       <view
             category="fr.irisa.triskell.kermeta.view"
             class="fr.irisa.triskell.kermeta.ui.views.DependentFilesViewPart"
             icon="images/up.png"
             id="fr.irisa.triskell.kermeta.ui.view.dependentFiles"
             name="Dependent Files"/>
       <view
             allowMultiple="false"
             category="fr.irisa.triskell.kermeta.view"
             class="fr.irisa.triskell.kermeta.ui.views.KermetadocView"
             icon="images/kermetadoc.gif"
             id="fr.irisa.triskell.kermeta.ui.views.kermetadoc"
             name="KermetaDoc">
       </view>
    </extension>
    <extension
          point="org.eclipse.ui.navigator.navigatorContent">
       <commonWizard
             type="new"
             wizardId="fr.irisa.triskell.kermeta.ui.wizards.newProject">
          <enablement></enablement>
       </commonWizard>
       <commonWizard
             type="new"
             wizardId="fr.irisa.triskell.kermeta.runner.wizards.kermetaNewFileWizard">
          <enablement></enablement>
       </commonWizard>
       <commonWizard
             type="new"
             wizardId="fr.irisa.triskell.kermeta.presentation.KmModelWizardID">
          <enablement></enablement>
       </commonWizard>
       <commonWizard
             type="new"
             wizardId="fr.irisa.triskell.kermeta.graphicaleditor.wizards.NewKmDiagrams">
          <enablement></enablement>
       </commonWizard>
    </extension>
    <extension
          point="org.eclipse.ui.actionSets">
       <actionSet
             id="org.kermeta.ui.actionSet"
             label="Kermeta Global Actions"
             visible="true">
          <action
                class="fr.irisa.triskell.kermeta.actions.DestroyKermetaUnitsFromMemory"
                icon="images/kermeta-trash.png"
                id="org.kermeta.ui.destroyKermetaUnitsAction"
                label="Remove Kermeta Units from Memory"
                toolbarPath="Normal/additions">
          </action>
       </actionSet>
    </extension>
    <extension
          point="org.eclipse.ui.editorActions">
       <editorContribution
             id="fr.irisa.triskell.kermeta.ui.editorContribution2"
             targetID="org.eclipse.ui.editors.text.texteditor">
          <action
                class="fr.irisa.triskell.kermeta.actions.CheckFileAction"
                icon="images/refresh.png"
                id="fr.irisa.triskell.kermeta.ui.checkFileAction"
                label="Check this file"
                toolbarPath="Normal/additions">
          </action>
       </editorContribution>
       <editorContribution
             id="fr.irisa.triskell.kermeta.ui.editorContribution3"
             targetID="fr.irisa.triskell.kermeta.presentation.KmEditorID">
          <action
                class="fr.irisa.triskell.kermeta.actions.CheckFileAction"
                icon="images/refresh.png"
                id="fr.irisa.triskell.kermeta.ui.checkFileAction"
                label="Check this file"
                toolbarPath="Normal/additions">
          </action>
       </editorContribution>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="org.kermeta.kmttemplate.preferences.PreferenceInitializer">
       </initializer>
    </extension>

</plugin>
