<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="kermetaBuilderID"
         name="Kermeta builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.kermeta.language.eclipse.builder.KermetaBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="kermetaNatureID"
         name="Kermeta project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.kermeta.language.eclipse.builder.KermetaNature">
         </run>
      </runtime>
      <builder
            id="org.kermeta.language.eclipse.builder.kermetaBuilderID">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.kermeta.language.eclipse.builder.contribution1">
         <action
               label="Add/Remove Kermeta Nature"
               class="org.kermeta.language.eclipse.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="org.kermeta.language.eclipse.builder.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="src/main/resources/icons/kermetaproject.gif"
            id="KermetaNatureImageID"
            natureId="org.kermeta.language.eclipse.builder.kermetaNatureID">
      </image>
   </extension>
</plugin>
