<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.kermeta.kompose.specialization.ecore.contribution1"
            nameFilter="*.kompose"
            objectClass="org.eclipse.core.resources.IFile">
			<enablement>
	           <test
	              forcePluginActivation="true"
	              property="kompose.metamodel"/>
	        </enablement >
         <menu
               label="Kompose"
               path="additions"
               id="org.kermeta.kompose.specialization.kompose.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compose Models (Ecore)"
               class="org.kermeta.kompose.specialization.ecore.popup.actions.Composer"
               menubarPath="org.kermeta.kompose.specialization.kompose.menu1/group1"
               enablesFor="1"
               id="org.kermeta.kompose.specialization.ecore.composer">
         </action>
      </objectContribution>
   </extension>
   <extension point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
        id="org.kermeta.kompose.specialization.propertyTester"
        namespace="kompose"
        properties="metamodel"
        type="org.eclipse.core.resources.IFile"
        class="org.kermeta.kompose.specialization.ecore.contribution.KomposePropertyTester">
     </propertyTester>
   </extension>
</plugin>
