<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.0 2010-02-11 10:29:42 hrambelo Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kermeta.org/kmLogo" 
       class = "org.kermeta.kmlogo.logoasm.model.kmLogo.KmLogoPackage"
       genModel = "model/ASMLogo.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kermeta.org/kmLogo/ASM" 
       class = "org.kermeta.kmlogo.logoasm.model.kmLogo.ASM.ASMPackage"
       genModel = "model/ASMLogo.genmodel" /> 
  </extension>

</plugin>

