<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
   point="org.eclipse.ui.editors">
   <editor
      name="Kermeta Editor"
      icon="src/java/fr/irisa/triskell/kermeta/texteditor/icons/kermeta.png"
      extensions="kmt"
      contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
      class="fr.irisa.triskell.kermeta.texteditor.editors.KMTEditor"
      id="org.eclipse.ui.editors.text.texteditor">
   </editor>
   </extension>
    <extension
          point="org.eclipse.core.filebuffers.documentSetup">
       <participant
             class="fr.irisa.triskell.kermeta.texteditor.editors.KMTDocumentSetupParticipant"
             extensions="kmt"/>
    </extension>

</plugin>
