<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.kermeta.debug.constraintConfiguration">
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_ARGUMENTS" value="platform:/resource/fr.irisa.triskell.kermeta.samples.fsm.demoAspect/models/sample1postv.fsm"/>
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_CLASSQNAME" value="fsm::Main"/>
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_FILENAME" value="/fr.irisa.triskell.kermeta.samples.fsm.demoAspect/launcher/fsmLauncher.kmt"/>
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_OPERATIONNAME" value="mainloadFSM"/>
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_PROJECTNAME" value="fr.irisa.triskell.kermeta.samples.fsm.demoAspect"/>
<stringAttribute key="process_factory_id" value="org.kermeta.debug.processFactory"/>
</launchConfiguration>
