<?xml version="1.0" encoding="utf-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin name="KmLogo tutorial documentation" id="org.kermeta.kmlogo.logoasm.documentation" version="1.3.2.qualifier" provider-name="IRISA/INRIA">
   <requires>
      <import plugin="fr.irisa.triskell.kermeta" export="false"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="fr.irisa.triskell.kermeta.io"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
   </requires>
  <extension point="org.eclipse.help.toc">
  
	<toc file="mainToc.xml"/>
	<toc file="toc.xml" primary="false"/>
 	<toc
   		file="build/eclipse.help/Kermeta-Tutorial-Logo/toc.xml"
   		primary="false">
	</toc>
  </extension>
</plugin>
