<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
         id="org.kermeta.kompose.samples.newWizard"
         name="Kompose Samples Wizard"
         point="org.eclipse.ui.newWizards">
      <category
            id="org.kermeta.kompose.samplesCategory"
            name="Kompose Specialization Samples"
            parentCategory="org.eclipse.ui.Examples"/>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.kermeta.kompose.samplesCategory"
            class="org.kermeta.kompose.samples.ui.KomposeSpecializationEcoreSampleWizard"
            hasPages="false"
            icon="icons/newkermetafile.png"
            id="org.kermeta.kompose.samples.KomposeEcoreSpecializationSampleWizard"
            name="Ecore Specialization Sample"/>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.kermeta.kompose.samplesCategory"
            class="org.kermeta.kompose.samples.ui.KomposeSpecializationRDBSchemaSampleWizard"
            hasPages="false"
            icon="icons/newkermetafile.png"
            id="org.kermeta.kompose.samples.KomposeRDBSchemaSpecializationSampleWizard"
            name="RDBSchema Specialization Sample">
      </wizard>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.kermeta.kompose.samplesCategory"
            class="org.kermeta.kompose.samples.ui.KomposeSpecializationUML2SampleWizard"
            hasPages="false"
            icon="icons/newkermetafile.png"
            id="org.kermeta.kompose.samples.KomposeUML2SpecializationSampleWizard"
            name="UML2 Specialization Sample">
      </wizard>
   </extension>
</plugin>
