<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.km"
            id="org.kermeta.language.gendoc.km2html.ui.contribution1">
         <menu
              icon="platform:/plugin/org.kermeta.kp.launcher.eclipse/icons/kermeta.gif"
              id="org.kermeta.language.ui.menu"
              label="Kermeta 2"
              path="additions">
           <separator name="kermetagroup1"/>
           <separator name="kermetagroup2"/>
           <separator name="kermetagroup3"/>
        </menu>
         <action
               label="generate HTML documentation"
               class="org.kermeta.language.gendoc.km2html.ui.popup.actions.GenerateHtmlAction"
               menubarPath="org.kermeta.language.ui.menu/kermetagroup1"
               enablesFor="1"
               id="org.kermeta.language.gendoc.km2html.ui.GenerateHtmlAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
