<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.kermeta.compiled.comp_runner_test001/src/comp_runner_test001/runner/Comp_runner_test001__Main__main1_Runner.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="comp_runner_test001.runner.Comp_runner_test001__Main__main1_Runner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="t"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.kermeta.compiled.comp_runner_test001"/>
</launchConfiguration>