<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin name="KerMeta documentation" id="fr.irisa.triskell.kermeta.documentation" version="0.0.7" provider-name="IRISA/INRIA">
   <requires>
      <import plugin="org.eclipse.help"/>
   </requires>
  <extension point="org.eclipse.help.toc">
	<toc file="toc.xml" primary="true"/>
    <toc file="build/eclipse.help/KermetaArchitectureGuide/toc.xml" />
    <toc file="build/eclipse.help/KerMeta-MetaModel/toc.xml" />
    <toc file="build/eclipse.help/KerMeta-Tutorial/toc.xml" />
    <toc file="build/eclipse.help/KerMeta-TypeSystem/toc.xml" />
    <toc file="build/eclipse.help/KerMeta-UI-UserGuide/toc.xml" />
    <toc file="build/eclipse.help/KermetaEMFTutorial/toc.xml" />
  </extension>
</plugin>
