<?xml version="1.0" encoding="utf-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin name="Kermeta documentation" id="fr.irisa.triskell.kermeta.documentation" version="1.3.2.qualifier" provider-name="IRISA/INRIA">
   <requires>
      <import plugin="fr.irisa.triskell.kermeta" export="false"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="fr.irisa.triskell.kermeta.io"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.kermeta.slf4j.eclipse"/>
   </requires>
  <extension point="org.eclipse.help.toc">
	<toc file="toc.xml" primary="true"/>
    <!--<toc file="build/eclipse.help/KermetaArchitectureGuide/toc.xml" />-->
    <!--<toc file="build/eclipse.help/KerMeta-MetaModel/toc.xml" />-->
    <toc file="build/eclipse.help/KerMeta-Tutorial/toc.xml" />
    <toc file="build/eclipse.help/KerMeta-UI-UserGuide/toc.xml" />
    <toc file="build/eclipse.help/KermetaEMFTutorial/toc.xml" />
    <toc file="build/eclipse.help/KerMeta-Manual/toc.xml"/>
    <toc file="build/eclipse.help/KerMeta-MDK/toc.xml"/>
    <toc file="build/eclipse.help/Kermeta-Tutorial-Process/toc.xml"/>
    
    <toc file="build/eclipse.help/KerMeta-The-FSM-example/toc.xml" />
    <toc file="build/eclipse.help/KerMeta-How-to-create-a-metamodel/toc.xml" />
    <toc file="build/eclipse.help/KerMeta-How-to-add-behavior-to-a-metamodel/toc.xml" />
    <toc file="build/eclipse.help/KerMeta-How-to-use-run-configuration/toc.xml"/>
    <toc file="build/eclipse.help/ModelCheckingManual/toc.xml"/>
  </extension>
</plugin>
