<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="fr.irisa.triskell.kermeta.samples.category"
            name="Kermeta samples"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/fr.irisa.triskell.kermeta.samples.category"
            class="org.kermeta.uml2.Uml2ExampleWizard"
            finalPerspective="fr.irisa.triskell.kermeta.ui.perspective"
            hasPages="false"
            icon="icons/kermetaproject.gif"
            id="org.kermeta.uml2.samples.wizard"
            name="MDK for UML2 samples"
            preferredPerspectives="org.eclipse.ui.resourcePerspective">
      </wizard>
   </extension>
</plugin>
